Repository fulpstation/fulpstation, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Cyberboss, @dragomagol, @Fikou, @JohnFulpWillard, @Kylerace, @LemonInTheDark, @Mothblocks, @MrMelbert, @ninjanomnom, @Ryll-Ryll, @san7890, @stylemistake, @SuperNovaa41, @Time-Green, @tralezab, @Watermelon914, @ExcessiveUseOfCobblestone, @Jordie0608, @Kapu1178, @MrStonedOne, @NamelessFairy, @Pickle-Coding, @ZephyrTFA, @EOBGames, @Maurukas, @ShizCalev, @Imaginos16, @Krysonism, @Twaticus, @Ghilker, @BraveMole, @TiviPlus, @optimumtact

.github/CODEOWNERS:

# This list auto requests reviews from the specified org members
# when a PR that modifies the file in question is opened
# This list is alphabetized by User -> Filename and separated into sections for Maintainers/Contributors KEEP IT THAT WAY
# In the event that people are to be informed of changes
# to the same file or dir, add them to the end of under Multiple Owners

# MAINTAINERS

# Cyberboss

/code/__HELPERS/jatum.dm @Cyberboss
/code/controllers/subsystem/atoms.dm @Cyberboss
/code/controllers/subsystem/mapping.dm @Cyberboss
/code/controllers/globals.dm @Cyberboss
/code/datums/helper_datums/getrev.dm @Cyberboss
/code/datums/map_config.dm @Cyberboss
/code/datums/forced_movement.dm @Cyberboss
/code/datums/holocall.dm @Cyberboss
/code/modules/admin/verbs/adminhelp.dm @Cyberboss
/code/modules/admin/verbs/adminpm.dm @Cyberboss
/code/modules/mapping/ @Cyberboss

# Dragomagol/Tattle

/code/__HELPERS/logging/ @dragomagol

# Fikou

/code/modules/awaymissions/ @Fikou
/code/modules/mining/ @Fikou
/code/modules/mod/ @Fikou
/code/modules/mapfluff/ruins/lavalandruin_code/ @Fikou
/code/modules/mapfluff/ruins/lavaland_ruin_code.dm @Fikou

# JohnFulpWizard

/code/modules/mob/living/simple_animal/bot/ @JohnFulpWillard
/code/modules/modular_computers/ @JohnFulpWillard

# Kylerace

/code/__DEFINES/spatial_gridmap.dm @Kylerace
/code/controllers/subsystem/spatial_gridmap.dm @Kylerace

# LemonInTheDark

/.github/guides/VISUALS.md @LemonInTheDark
/code/_onclick/hud/ @LemonInTheDark
/code/__DEFINES/layers.dm @LemonInTheDark

# Mothblocks

/.github/workflows/ @Mothblocks
/code/game/gamemodes/ @Mothblocks
/code/modules/autowiki/ @Mothblocks
/code/modules/unit_tests/ @Mothblocks
/code/modules/client/preferences/ @Mothblocks
/code/modules/client/preferences_menu.dm @Mothblocks
/tgui/packages/tgui/interfaces/PreferencesMenu/ @Mothblocks
/tools/maplint/source/ @Mothblocks
/tools/pull_request_hooks/ @Mothblocks
/tools/screenshot-test-comparison/ @Mothblocks
/tools/test_merge_bot/ @Mothblocks

# MrMelbert

/code/modules/hydroponics/ @MrMelbert

# ninjanomnom

/code/__DEFINES/dcs/ @ninjanomnom
/code/controllers/subsystem/dcs.dm @ninjanomnom
/code/controllers/subsystem/shuttle.dm @ninjanomnom
/code/datums/components/ @ninjanomnom
/code/datums/elements/ @ninjanomnom
/code/modules/shuttle/ @ninjanomnom

# Ryll-Ryll/Shaps

/code/datums/wounds/ @Ryll-Ryll
/code/datums/status_effects/wound_effects.dm @Ryll-Ryll
/code/__DEFINES/wounds.dm @Ryll-Ryll

# san7890

/code/game/area/ @san7890
/icons/area/ @san7890

# stylemistake

/code/__DEFINES/chat.dm @stylemistake
/code/__DEFINES/tgui.dm @stylemistake
/code/controllers/subsystem/chat.dm @stylemistake
/code/controllers/subsystem/ping.dm @stylemistake
/code/controllers/subsystem/tgui.dm @stylemistake
/code/modules/tgchat/ @stylemistake
/code/modules/tgui/ @stylemistake
/code/modules/tgui_panel/ @stylemistake
/tgui/ @stylemistake

# stylemistake (explicitly disowned)

/tgui/packages/tgui/interfaces/
/tgui/packages/tgui/styles/interfaces/
/tgui/packages/tgui-panel/styles/goon/chat-dark.scss
/tgui/packages/tgui-panel/styles/goon/chat-light.scss

# SuperNovaa41

/code/modules/forensics/ @SuperNovaa41
/code/datums/mood.dm @SuperNovaa41

# Time-Green

/code/modules/plumbing/ @Time-Green
/code/modules/surgery/organs/external/ @Time-Green

# tralezab
/code/__DEFINES/basic_mobs.dm @tralezab
/code/datums/ai @tralezab
/code/modules/mob/living/basic/ @tralezab

# Watermelon914

/code/modules/wiremod/ @Watermelon914
/code/modules/antagonists/traitor/ @Watermelon914

# CONTRIBUTORS

# Cobby

/code/modules/reagents/ @ExcessiveUseOfCobblestone
/code/modules/research/designs/medical_designs.dm @ExcessiveUseOfCobblestone
/code/game/objects/items/storage/medkit.dm @ExcessiveUseOfCobblestone

# Jordie0608

/SQL/ @Jordie0608
/code/controllers/subsystem/dbcore.dm @Jordie0608
/tools/SQLAlertEmail/ @Jordie0608

# Kapu1178

/code/modules/surgery/bodyparts/ @Kapu1178
/code/modules/surgery/organs/ @Kapu1178
/code/modules/mob/living/carbon/carbon_update_icons.dm @Kapu1178
/code/modules/mob/living/carbon/human/human_update_icons.dm @Kapu1178

# MrStonedOne

/SQL/database_changelog.txt @MrStonedOne
/code/__DEFINES/MC.dm @MrStonedOne
/code/controllers/admin.dm @MrStonedOne
/code/controllers/master.dm @MrStonedOne
/code/controllers/failsafe.dm @MrStonedOne
/code/controllers/subsystem.dm @MrStonedOne
/code/controllers/subsystem/timer.dm @MrStonedOne
/code/controllers/configuration/entries @MrStonedOne
/config/ @MrStonedOne

# NamelessFairy

/code/modules/capture_the_flag/ @NamelessFairy
/_maps/map_files/CTF/ @NamelessFairy

# Pickle-Coding

/code/__DEFINES/atmospherics/ @Pickle-Coding
/code/__DEFINES/reactions.dm @Pickle-Coding
/code/modules/atmospherics/ @Pickle-Coding
/code/modules/power/ @Pickle-Coding

# ZephyrTFA

/code/datums/json_savefile.dm @ZephyrTFA
/code/datums/armor/ @ZephyrTFA

# MULTIPLE OWNERS

/_maps/ @EOBGames @Maurukas @san7890 @ShizCalev
/icons/ @Imaginos16 @Krysonism @Twaticus
/icons/ass/ @Ghilker @tralezab

/code/__DEFINES/atmospherics/ @Ghilker @LemonInTheDark
/code/controllers/subsystem/air.dm @LemonInTheDark @MrStonedOne
/code/modules/atmospherics/ @Ghilker @LemonInTheDark
/code/modules/client/preferences.dm @Mothblocks @ZephyrTFA
/code/modules/client/preferences_savefile.dm @Mothblocks @ZephyrTFA
/code/modules/jobs/job_types/chief_medical_officer.dm @ExcessiveUseOfCobblestone @Ryll-Ryll
/code/modules/jobs/job_types/medical_doctor.dm @ExcessiveUseOfCobblestone @Ryll-Ryll
/code/modules/jobs/job_types/paramedic.dm @ExcessiveUseOfCobblestone @Ryll-Ryll
/code/modules/surgery/ @ExcessiveUseOfCobblestone @Ryll-Ryll
/tools/build/ @MrStonedOne @stylemistake
/tools/LinuxOneShot/ @Cyberboss @MrStonedOne
/tools/tgs4_scripts/ @Cyberboss @MrStonedOne

/tools/WebhookProcessor/ @BraveMole @TiviPlus

# SIC SEMPER TYRANNIS

/code/modules/hydroponics/grown/citrus.dm @optimumtact

disposal (whoops)
  _maps/map_files/Heliostation/Heliostation.dmm
Owners: @EOBGames, @Maurukas, @san7890, @ShizCalev

area + apc + moves some stuff
  _maps/map_files/Heliostation/Heliostation.dmm
Owners: @EOBGames, @Maurukas, @san7890, @ShizCalev

adds atmos and airlock cycle to pubby cargo dock (#909)
  _maps/map_files/PubbyStation/PubbyStation.dmm
Owners: @EOBGames, @Maurukas, @san7890, @ShizCalev

mh antag tips and misc bug fixes (#908)
  fulp_modules/features/antagonists/infiltrators/infil_items.dm
  fulp_modules/features/antagonists/monster_hunter/monsterhunter_datum.dm
  fulp_modules/features/antagonists/monster_hunter/monsterhunter_weapons.dm
  fulp_modules/features/antagonists/monster_hunter/sounds/moonlightbeam.ogg
  fulp_modules/features/antagonists/monster_hunter/sounds/weaponsmithing.ogg
  fulp_modules/features/antagonists/rulesets/monsterhunter_event.dm
  fulp_modules/mapping/custom/wonderland.dmm
  tgui/packages/fulpui-patches/interfaces/HunterContract.js
Owners: @stylemistake

extra gene cables + xenobio rwalls
  _maps/map_files/Heliostation/Heliostation.dmm
Owners: @EOBGames, @Maurukas, @san7890, @ShizCalev

Fixes camera chunks being 1 tile short (kills AI GRID OF DOOM again) (#73163)
  code/modules/mob/living/silicon/ai/freelook/chunk.dm
Owners: none

Abductor scientist self-retrieve failure/runtime fix (#73172)
  code/game/objects/items/implants/implant_abductor.dm
Owners: none

Adds some things to duplicate forbidden vars (#73354)
  code/__HELPERS/duplicating.dm
Owners: none

Recenters gravity gens (#73357)
  code/modules/power/gravitygenerator.dm
Owners: @Pickle-Coding

Fix RPG Titles Runechat Offset (#73443)
  code/datums/chatmessage.dm
  code/modules/events/wizard/rpgtitles.dm
Owners: none

FIxes Time Stop being a 3x3 instead of a 5x5 (no seriously) (#73339)
  code/datums/proximity_monitor/field.dm
  code/datums/proximity_monitor/fields/gravity.dm
  code/datums/proximity_monitor/fields/timestop.dm
Owners: none

test12345
  fulp_modules/features/antagonists/bloodsuckers/code/structures/bloodsucker_coffin.dm
Owners: none

f
  fulp_modules/features/antagonists/monster_hunter/monsterhunter_abilities.dm
  fulp_modules/features/antagonists/monster_hunter/monsterhunter_weapons.dm
Owners: none

Ports over PDA fix
  code/modules/modular_computers/computers/item/computer_ui.dm
  code/modules/modular_computers/computers/item/pda.dm
  tgui/packages/tgui/interfaces/NtosMain.js
  tgui/packages/tgui/interfaces/NtosNetDownloader.js
  tgui/packages/tgui/layouts/NtosWindow.js
Owners: @JohnFulpWillard, @stylemistake

fix dme
  tgstation.dme
Owners: none

oops
  fulp_modules/features/barsigns/code/barsigns.dm
Owners: none

Fixes wonderland anomalies
  fulp_modules/features/antagonists/monster_hunter/wonderland_apocalypse.dm
Owners: none

Removes punch holopara type
  code/modules/unit_tests/simple_animal_freeze.dm
  fulp_modules/features/antagonists/bloodsuckers/code/bloodsucker/bloodsucker_guardian.dm
Owners: @Mothblocks

Changes devil to basic animal
  code/modules/unit_tests/simple_animal_freeze.dm
  fulp_modules/features/mobs/devil.dm
Owners: @Mothblocks

Fixes some issues with our vars
  fulp_modules/features/antagonists/bloodsuckers/code/bloodsucker/bloodsucker_life.dm
  fulp_modules/features/antagonists/bloodsuckers/code/structures/bloodsucker_crypt.dm
  fulp_modules/features/antagonists/infiltrators/infil_items.dm
  fulp_modules/features/antagonists/monster_hunter/monsterhunter_datum.dm
  fulp_modules/features/antagonists/monster_hunter/red_rabbit.dm
  fulp_modules/features/halloween/2020/costumes.dm
  fulp_modules/features/mentors/mentor_manager.dm
  fulp_modules/features/species/beefmen/mob/beefman.dm
  fulp_modules/features/spells/_spells.dm
Owners: none

Returns the devil's ability to make a dancefloor.
  fulp_modules/features/mobs/devil.dm
Owners: none

Rabbits are now basic animals
  code/modules/unit_tests/simple_animal_freeze.dm
  fulp_modules/features/antagonists/monster_hunter/killer_rabbit.dm
  fulp_modules/features/antagonists/monster_hunter/rabbit_effect.dm
  fulp_modules/features/antagonists/monster_hunter/rabbit_powers.dm
  fulp_modules/features/antagonists/monster_hunter/red_rabbit.dm
  fulp_modules/features/antagonists/monster_hunter/wonderland_apocalypse.dm
  tgstation.dme
Owners: @Mothblocks

Malf AIs can only buy doomsday if they have valid objective
  fulp_modules/Z_edits/malf_edit.dm
  tgstation.dme
Owners: none

Update monsterhunter_event.dm
  fulp_modules/features/antagonists/rulesets/monsterhunter_event.dm
Owners: none

disposals fix
  _maps/map_files/Heliostation/Heliostation.dmm
Owners: @EOBGames, @Maurukas, @san7890, @ShizCalev

Auspex no longer puts you to sleep (#912)
  fulp_modules/features/antagonists/bloodsuckers/code/powers/tremere/auspex.dm
Owners: none

Adds large beds with extra leg room (fits one person) (#910)
  fulp_modules/Z_edits/erp_removal/double_beds.dm
Owners: none

h
  fulp_modules/features/antagonists/monster_hunter/monsterhunter_abilities.dm
  fulp_modules/features/antagonists/monster_hunter/monsterhunter_weapons.dm
Owners: none

test12345 (#915)
  fulp_modules/features/antagonists/bloodsuckers/code/structures/bloodsucker_coffin.dm
Owners: none

fix
  _maps/map_files/Heliostation/Heliostation.dmm
Owners: @EOBGames, @Maurukas, @san7890, @ShizCalev

makes helio maint awesomer
  _maps/map_files/Heliostation/Heliostation.dmm
  fulp_modules/features/mob_spawners/code/mobspawner.dm
  fulp_modules/features/mob_spawners/icons/landmark_static.dmi
Owners: @EOBGames, @Maurukas, @san7890, @ShizCalev

Helio Sci Rework (#913)
  _maps/map_files/Heliostation/Heliostation.dmm
  fulp_modules/features/mob_spawners/code/mobspawner.dm
  fulp_modules/features/mob_spawners/icons/landmark_static.dmi
  fulp_modules/mapping/icons/research.dmi
  fulp_modules/mapping/station_objects/fluff.dm
  tgstation.dme
Owners: @EOBGames, @Maurukas, @san7890, @ShizCalev

Changes devil to basic animal (+ gives them dancefloor) (#919)
  code/modules/unit_tests/simple_animal_freeze.dm
  fulp_modules/features/mobs/devil.dm
Owners: @Mothblocks

Update mobspawner.dm
  fulp_modules/features/mob_spawners/code/mobspawner.dm
Owners: none

Update Heliostation.dmm
  _maps/map_files/Heliostation/Heliostation.dmm
Owners: @EOBGames, @Maurukas, @san7890, @ShizCalev

Rabbits are now basic animals (#921)
  code/modules/unit_tests/simple_animal_freeze.dm
  fulp_modules/features/antagonists/monster_hunter/killer_rabbit.dm
  fulp_modules/features/antagonists/monster_hunter/rabbit_effect.dm
  fulp_modules/features/antagonists/monster_hunter/rabbit_powers.dm
  fulp_modules/features/antagonists/monster_hunter/red_rabbit.dm
  fulp_modules/features/antagonists/monster_hunter/wonderland_apocalypse.dm
  tgstation.dme
Owners: @Mothblocks

Update bloodsucker_life.dm
  fulp_modules/features/antagonists/bloodsuckers/code/bloodsucker/bloodsucker_life.dm
Owners: none

Update bloodsucker_guardian.dm
  fulp_modules/features/antagonists/bloodsuckers/code/bloodsucker/bloodsucker_guardian.dm
Owners: none

fix to guardians
  fulp_modules/features/antagonists/bloodsuckers/code/bloodsucker/bloodsucker_guardian.dm
Owners: none

Update bloodsucker_guardian.dm
  fulp_modules/features/antagonists/bloodsuckers/code/bloodsucker/bloodsucker_guardian.dm
Owners: none
