Repository fulpstation/fulpstation, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Cyberboss, @dragomagol, @Fikou, @JohnFulpWillard, @Kylerace, @LemonInTheDark, @Mothblocks, @MrMelbert, @ninjanomnom, @Ryll-Ryll, @san7890, @stylemistake, @SuperNovaa41, @Time-Green, @tralezab, @Watermelon914, @ExcessiveUseOfCobblestone, @Jordie0608, @Kapu1178, @MrStonedOne, @NamelessFairy, @Pickle-Coding, @ZephyrTFA, @EOBGames, @Maurukas, @ShizCalev, @Imaginos16, @Krysonism, @Twaticus, @Ghilker, @BraveMole, @TiviPlus, @optimumtact

.github/CODEOWNERS:

# This list auto requests reviews from the specified org members
# when a PR that modifies the file in question is opened
# This list is alphabetized by User -> Filename and separated into sections for Maintainers/Contributors KEEP IT THAT WAY
# In the event that people are to be informed of changes
# to the same file or dir, add them to the end of under Multiple Owners

# MAINTAINERS

# Cyberboss

/code/__HELPERS/jatum.dm @Cyberboss
/code/controllers/subsystem/atoms.dm @Cyberboss
/code/controllers/subsystem/mapping.dm @Cyberboss
/code/controllers/globals.dm @Cyberboss
/code/datums/helper_datums/getrev.dm @Cyberboss
/code/datums/map_config.dm @Cyberboss
/code/datums/forced_movement.dm @Cyberboss
/code/datums/holocall.dm @Cyberboss
/code/modules/admin/verbs/adminhelp.dm @Cyberboss
/code/modules/admin/verbs/adminpm.dm @Cyberboss
/code/modules/mapping/ @Cyberboss

# Dragomagol/Tattle

/code/__HELPERS/logging/ @dragomagol

# Fikou

/code/modules/awaymissions/ @Fikou
/code/modules/mining/ @Fikou
/code/modules/mod/ @Fikou
/code/modules/mapfluff/ruins/lavalandruin_code/ @Fikou
/code/modules/mapfluff/ruins/lavaland_ruin_code.dm @Fikou

# JohnFulpWizard

/code/modules/mob/living/simple_animal/bot/ @JohnFulpWillard
/code/modules/modular_computers/ @JohnFulpWillard

# Kylerace

/code/__DEFINES/spatial_gridmap.dm @Kylerace
/code/controllers/subsystem/spatial_gridmap.dm @Kylerace

# LemonInTheDark

/.github/guides/VISUALS.md @LemonInTheDark
/code/_onclick/hud/ @LemonInTheDark
/code/__DEFINES/layers.dm @LemonInTheDark

# Mothblocks

/.github/workflows/ @Mothblocks
/code/game/gamemodes/ @Mothblocks
/code/modules/autowiki/ @Mothblocks
/code/modules/unit_tests/ @Mothblocks
/code/modules/client/preferences/ @Mothblocks
/code/modules/client/preferences_menu.dm @Mothblocks
/tgui/packages/tgui/interfaces/PreferencesMenu/ @Mothblocks
/tools/maplint/source/ @Mothblocks
/tools/pull_request_hooks/ @Mothblocks
/tools/screenshot-test-comparison/ @Mothblocks
/tools/test_merge_bot/ @Mothblocks

# MrMelbert

/code/modules/hydroponics/ @MrMelbert

# ninjanomnom

/code/__DEFINES/dcs/ @ninjanomnom
/code/controllers/subsystem/dcs.dm @ninjanomnom
/code/controllers/subsystem/shuttle.dm @ninjanomnom
/code/datums/components/ @ninjanomnom
/code/datums/elements/ @ninjanomnom
/code/modules/shuttle/ @ninjanomnom

# Ryll-Ryll/Shaps

/code/datums/wounds/ @Ryll-Ryll
/code/datums/status_effects/wound_effects.dm @Ryll-Ryll
/code/__DEFINES/wounds.dm @Ryll-Ryll

# san7890

/code/game/area/ @san7890
/icons/area/ @san7890

# stylemistake

/code/__DEFINES/chat.dm @stylemistake
/code/__DEFINES/tgui.dm @stylemistake
/code/controllers/subsystem/chat.dm @stylemistake
/code/controllers/subsystem/ping.dm @stylemistake
/code/controllers/subsystem/tgui.dm @stylemistake
/code/modules/tgchat/ @stylemistake
/code/modules/tgui/ @stylemistake
/code/modules/tgui_panel/ @stylemistake
/tgui/ @stylemistake

# stylemistake (explicitly disowned)

/tgui/packages/tgui/interfaces/
/tgui/packages/tgui/styles/interfaces/
/tgui/packages/tgui-panel/styles/goon/chat-dark.scss
/tgui/packages/tgui-panel/styles/goon/chat-light.scss

# SuperNovaa41

/code/modules/forensics/ @SuperNovaa41
/code/datums/mood.dm @SuperNovaa41

# Time-Green

/code/modules/plumbing/ @Time-Green
/code/modules/surgery/organs/external/ @Time-Green

# tralezab
/code/__DEFINES/basic_mobs.dm @tralezab
/code/datums/ai @tralezab
/code/modules/mob/living/basic/ @tralezab

# Watermelon914

/code/modules/wiremod/ @Watermelon914
/code/modules/antagonists/traitor/ @Watermelon914

# CONTRIBUTORS

# Cobby

/code/modules/reagents/ @ExcessiveUseOfCobblestone
/code/modules/research/designs/medical_designs.dm @ExcessiveUseOfCobblestone
/code/game/objects/items/storage/medkit.dm @ExcessiveUseOfCobblestone

# Jordie0608

/SQL/ @Jordie0608
/code/controllers/subsystem/dbcore.dm @Jordie0608
/tools/SQLAlertEmail/ @Jordie0608

# Kapu1178

/code/modules/surgery/bodyparts/ @Kapu1178
/code/modules/surgery/organs/ @Kapu1178
/code/modules/mob/living/carbon/carbon_update_icons.dm @Kapu1178
/code/modules/mob/living/carbon/human/human_update_icons.dm @Kapu1178

# MrStonedOne

/SQL/database_changelog.txt @MrStonedOne
/code/__DEFINES/MC.dm @MrStonedOne
/code/controllers/admin.dm @MrStonedOne
/code/controllers/master.dm @MrStonedOne
/code/controllers/failsafe.dm @MrStonedOne
/code/controllers/subsystem.dm @MrStonedOne
/code/controllers/subsystem/timer.dm @MrStonedOne
/code/controllers/configuration/entries @MrStonedOne
/config/ @MrStonedOne

# NamelessFairy

/code/modules/capture_the_flag/ @NamelessFairy
/_maps/map_files/CTF/ @NamelessFairy

# Pickle-Coding

/code/__DEFINES/atmospherics/ @Pickle-Coding
/code/__DEFINES/reactions.dm @Pickle-Coding
/code/modules/atmospherics/ @Pickle-Coding
/code/modules/power/ @Pickle-Coding

# ZephyrTFA

/code/datums/json_savefile.dm @ZephyrTFA
/code/datums/armor/ @ZephyrTFA

# MULTIPLE OWNERS

/_maps/ @EOBGames @Maurukas @san7890 @ShizCalev
/icons/ @Imaginos16 @Krysonism @Twaticus
/icons/ass/ @Ghilker @tralezab

/code/__DEFINES/atmospherics/ @Ghilker @LemonInTheDark
/code/controllers/subsystem/air.dm @LemonInTheDark @MrStonedOne
/code/modules/atmospherics/ @Ghilker @LemonInTheDark
/code/modules/client/preferences.dm @Mothblocks @ZephyrTFA
/code/modules/client/preferences_savefile.dm @Mothblocks @ZephyrTFA
/code/modules/jobs/job_types/chief_medical_officer.dm @ExcessiveUseOfCobblestone @Ryll-Ryll
/code/modules/jobs/job_types/medical_doctor.dm @ExcessiveUseOfCobblestone @Ryll-Ryll
/code/modules/jobs/job_types/paramedic.dm @ExcessiveUseOfCobblestone @Ryll-Ryll
/code/modules/surgery/ @ExcessiveUseOfCobblestone @Ryll-Ryll
/tools/build/ @MrStonedOne @stylemistake
/tools/LinuxOneShot/ @Cyberboss @MrStonedOne
/tools/tgs4_scripts/ @Cyberboss @MrStonedOne

/tools/WebhookProcessor/ @BraveMole @TiviPlus

# SIC SEMPER TYRANNIS

/code/modules/hydroponics/grown/citrus.dm @optimumtact

Piping (#904)
  _maps/map_files/Heliostation/Heliostation.dmm
Owners: @EOBGames, @Maurukas, @san7890, @ShizCalev

fix maybe
  fulp_modules/features/sect/bloodthingie.dm
Owners: none

Update monsterhunter_event.dm
  fulp_modules/features/antagonists/rulesets/monsterhunter_event.dm
Owners: none

fucked up bruh
  fulp_modules/features/antagonists/rulesets/monsterhunter_event.dm
Owners: none

Update bloodthingie.dm
  fulp_modules/features/sect/bloodthingie.dm
Owners: none

mmmm (#56)
  fulp_modules/features/antagonists/rulesets/monsterhunter_event.dm
Owners: none

Update whiteship_helio.dmm
  _maps/shuttles/whiteship_helio.dmm
Owners: @EOBGames, @Maurukas, @san7890, @ShizCalev

deletes da file
  fulp_modules/Z_edits/erp_removal/kiss.dm
  tgstation.dme
Owners: none

f
  fulp_modules/features/antagonists/monster_hunter/monsterhunter_datum.dm
  fulp_modules/features/antagonists/monster_hunter/monsterhunter_weapons.dm
  fulp_modules/features/antagonists/monster_hunter/sounds/weaponsmithing.ogg
  tgui/packages/fulpui-patches/interfaces/HunterContract.js
Owners: @stylemistake

KILLS beds too
  fulp_modules/Z_edits/erp_removal/double_beds.dm
  tgstation.dme
Owners: none

initial shrimple commit: adds atmos to pubby cargodock and airlock cycle
  _maps/map_files/PubbyStation/PubbyStation.dmm
Owners: @EOBGames, @Maurukas, @san7890, @ShizCalev

Revert "KILLS beds too"
  fulp_modules/Z_edits/erp_removal/double_beds.dm
  tgstation.dme
Owners: none

Update double_beds.dm
  fulp_modules/Z_edits/erp_removal/double_beds.dm
Owners: none

trailing line
  fulp_modules/Z_edits/erp_removal/double_beds.dm
Owners: none

add camera
  _maps/map_files/PubbyStation/PubbyStation.dmm
Owners: @EOBGames, @Maurukas, @san7890, @ShizCalev

kjoj
  fulp_modules/features/antagonists/monster_hunter/monsterhunter_weapons.dm
  fulp_modules/mapping/custom/wonderland.dmm
Owners: none

k
  fulp_modules/features/antagonists/monster_hunter/monsterhunter_weapons.dm
  fulp_modules/features/antagonists/monster_hunter/sounds/moonlightbeam.ogg
Owners: none

f
  fulp_modules/features/antagonists/monster_hunter/monsterhunter_weapons.dm
Owners: none

Update monsterhunter_weapons.dm
  fulp_modules/features/antagonists/monster_hunter/monsterhunter_weapons.dm
Owners: none

Update monsterhunter_weapons.dm
  fulp_modules/features/antagonists/monster_hunter/monsterhunter_weapons.dm
Owners: none

Update infil_items.dm
  fulp_modules/features/antagonists/infiltrators/infil_items.dm
Owners: none

Re-adds erp (#907)
  fulp_modules/Z_edits/erp_removal/kiss.dm
  tgstation.dme
Owners: none

Vassal conversion code improvement & Monster Hunter changes (#903)
  fulp_modules/_defines/bloodsuckers.dm
  fulp_modules/features/antagonists/antag_tips/antag_tip_integration.dm
  fulp_modules/features/antagonists/bloodsuckers/code/bloodsucker/bloodsucker_conversion.dm
  fulp_modules/features/antagonists/bloodsuckers/code/bloodsucker/bloodsucker_datum.dm
  fulp_modules/features/antagonists/bloodsuckers/code/clans/_clan.dm
  fulp_modules/features/antagonists/bloodsuckers/code/clans/clan_flavortext.dm
  fulp_modules/features/antagonists/bloodsuckers/code/clans/clan_malkavian.dm
  fulp_modules/features/antagonists/bloodsuckers/code/clans/clan_nosferatu.dm
  fulp_modules/features/antagonists/bloodsuckers/code/clans/clan_tremere.dm
  fulp_modules/features/antagonists/bloodsuckers/code/clans/clan_ventrue.dm
  fulp_modules/features/antagonists/bloodsuckers/code/powers/targeted/_powers_targeted.dm
  fulp_modules/features/antagonists/bloodsuckers/code/powers/targeted/lunge.dm
  fulp_modules/features/antagonists/bloodsuckers/code/powers/tremere/dominate.dm
  fulp_modules/features/antagonists/bloodsuckers/code/rulesets/bloodsucker_rulesets.dm
  fulp_modules/features/antagonists/bloodsuckers/code/rulesets/monsterhunter_event.dm
  fulp_modules/features/antagonists/bloodsuckers/code/structures/bloodsucker_coffin.dm
  fulp_modules/features/antagonists/bloodsuckers/code/structures/bloodsucker_crypt.dm
  fulp_modules/features/antagonists/bloodsuckers/code/structures/bloodsucker_objects.dm
  fulp_modules/features/antagonists/bloodsuckers/code/structures/bloodsucker_recipes.dm
  fulp_modules/features/antagonists/bloodsuckers/code/vassal/vassal_datum.dm
  fulp_modules/features/antagonists/rulesets/bloodsucker_rulesets.dm
  fulp_modules/features/antagonists/rulesets/infil_ruleset.dm
  fulp_modules/features/antagonists/rulesets/monsterhunter_event.dm
  tgstation.dme
Owners: none

Updates beef cytology (#900)
  fulp_modules/mapping/ruins/icemoon/beef_cytology.dmm
Owners: none

n
  fulp_modules/features/antagonists/monster_hunter/monsterhunter_datum.dm
  fulp_modules/features/antagonists/rulesets/monsterhunter_event.dm
Owners: none

Update monsterhunter_event.dm
  fulp_modules/features/antagonists/rulesets/monsterhunter_event.dm
Owners: none

Auspex no longer puts you to sleep
  fulp_modules/features/antagonists/bloodsuckers/code/powers/tremere/auspex.dm
Owners: none

Update monsterhunter_event.dm
  fulp_modules/features/antagonists/rulesets/monsterhunter_event.dm
Owners: none

nanites
  fulp_modules/mapping/icons/research.dmi
  fulp_modules/mapping/station_objects/fluff.dm
  tgstation.dme
Owners: none

the rework
  _maps/map_files/Heliostation/Heliostation.dmm
Owners: @EOBGames, @Maurukas, @san7890, @ShizCalev

double cable and firelock
  _maps/map_files/Heliostation/Heliostation.dmm
Owners: @EOBGames, @Maurukas, @san7890, @ShizCalev

pipe and cargo
  _maps/map_files/Heliostation/Heliostation.dmm
Owners: @EOBGames, @Maurukas, @san7890, @ShizCalev

we stay silly (pipe and spawns)
  _maps/map_files/Heliostation/Heliostation.dmm
Owners: @EOBGames, @Maurukas, @san7890, @ShizCalev

disposal and pipe
  _maps/map_files/Heliostation/Heliostation.dmm
Owners: @EOBGames, @Maurukas, @san7890, @ShizCalev

cable
  _maps/map_files/Heliostation/Heliostation.dmm
Owners: @EOBGames, @Maurukas, @san7890, @ShizCalev

cable x2
  _maps/map_files/Heliostation/Heliostation.dmm
Owners: @EOBGames, @Maurukas, @san7890, @ShizCalev

VSC moment
  code/modules/power/gravitygenerator.dm
Owners: @Pickle-Coding

did gunu make the first sauce? NO! (pipe and robo crowbar and slime)
  _maps/map_files/Heliostation/Heliostation.dmm
Owners: @EOBGames, @Maurukas, @san7890, @ShizCalev

bci
  _maps/map_files/Heliostation/Heliostation.dmm
Owners: @EOBGames, @Maurukas, @san7890, @ShizCalev

x/y offsets dont work on decals lol
  _maps/map_files/Heliostation/Heliostation.dmm
Owners: @EOBGames, @Maurukas, @san7890, @ShizCalev
