Repository fulpstation/fulpstation, changes with the owners that .github/CODEOWNERS names for each.
All owners: @ExcessiveUseOfCobblestone, @Cyberboss, @Jordie0608, @LemonInTheDark, @Mothblocks, @ninjanomnom, @stylemistake, @tralezab, @Watermelon914, @Ghilker, @JohnFulpWillard, @MrStonedOne, @NamelessFairy, @Twaticus, @Krysonism, @EOBGames, @ShizCalev, @Maurukas, @optimumtact

.github/CODEOWNERS:

# This list auto requests reviews from the specified org members
# when a PR that modifies the file in question is opened
# This list is alphabetized by User -> Filename and separated into sections for Maintainers/Contributors KEEP IT THAT WAY
# In the event that people are to be informed of changes
# to the same file or dir, add them to the end of under Multiple Owners

# MAINTAINERS

# Cobby
/code/modules/reagents/ @ExcessiveUseOfCobblestone
/code/modules/research/designs/medical_designs.dm @ExcessiveUseOfCobblestone
/code/modules/surgery/ @ExcessiveUseOfCobblestone
/code/game/objects/items/storage/firstaid.dm @ExcessiveUseOfCobblestone
/code/modules/jobs/job_types/chief_medical_officer.dm @ExcessiveUseOfCobblestone
/code/modules/jobs/job_types/medical_doctor.dm @ExcessiveUseOfCobblestone

# Cyberboss

/code/__HELPERS/jatum.dm @Cyberboss
/code/controllers/subsystem/atoms.dm @Cyberboss
/code/controllers/subsystem/mapping.dm @Cyberboss
/code/controllers/globals.dm @Cyberboss
/code/datums/helper_datums/getrev.dm @Cyberboss
/code/datums/map_config.dm @Cyberboss
/code/datums/forced_movement.dm @Cyberboss
/code/datums/holocall.dm @Cyberboss
/code/modules/admin/verbs/adminhelp.dm @Cyberboss
/code/modules/admin/verbs/adminpm.dm @Cyberboss
/code/modules/mapping/ @Cyberboss

# Jordie0608

/SQL/ @Jordie0608
/code/controllers/subsystem/dbcore.dm @Jordie0608
/tools/SQLAlertEmail/ @Jordie0608

# LemonInTheDark

/code/__DEFINES/atmospherics/ @LemonInTheDark
/code/modules/atmospherics/ @LemonInTheDark

# Mothblocks

/code/modules/unit_tests/ @Mothblocks
/code/modules/client/preferences/ @Mothblocks
/code/modules/preferences.dm @Mothblocks
/code/modules/preferences_menu.dm @Mothblocks
/code/modules/preferences_savefile.dm @Mothblocks
/tgui/packages/tgui/interfaces/PreferencesMenu/ @Mothblocks

# ninjanomnom

/code/__DEFINES/dcs/ @ninjanomnom
/code/controllers/subsystem/dcs.dm @ninjanomnom
/code/controllers/subsystem/shuttle.dm @ninjanomnom
/code/datums/components/ @ninjanomnom
/code/datums/elements/ @ninjanomnom
/code/modules/shuttle/ @ninjanomnom

# stylemistake

/code/__DEFINES/chat.dm @stylemistake
/code/__DEFINES/tgui.dm @stylemistake
/code/controllers/subsystem/chat.dm @stylemistake
/code/controllers/subsystem/tgui.dm @stylemistake
/code/modules/tgchat @stylemistake
/code/modules/tgui @stylemistake
/code/modules/tgui_panel @stylemistake
/tgui @stylemistake

# tralezab

/code/datums/ai/ @tralezab

# Watermelon914

/code/modules/wiremod/ @Watermelon914

# CONTRIBUTORS

# Ghilker

/code/__DEFINES/atmospherics/ @Ghilker
/code/modules/atmospherics/ @Ghilker

# JohnFulpWizard

/goon/ @JohnFulpWillard

# MrStonedOne

/SQL/database_changelog.txt @MrStonedOne
/code/__DEFINES/MC.dm @MrStonedOne
/code/controllers/admin.dm @MrStonedOne
/code/controllers/master.dm @MrStonedOne
/code/controllers/failsafe.dm @MrStonedOne
/code/controllers/subsystem.dm @MrStonedOne
/code/controllers/subsystem/timer.dm @MrStonedOne
/code/controllers/configuration/entries @MrStonedOne
/config/ @MrStonedOne

# NamelessFairy

/code/modules/capture_the_flag/ @NamelessFairy
/_maps/map_files/CTF/ @NamelessFairy

# MULTIPLE OWNERS

/icons/ @Twaticus @Krysonism
/code/controllers/subsystem/air.dm @LemonInTheDark @MrStonedOne
/_maps/ @EOBGames @ShizCalev @Maurukas
/tools/build/ @MrStonedOne @stylemistake
/tools/LinuxOneShot/ @Cyberboss @MrStonedOne
/tools/tgs4_scripts/ @Cyberboss @MrStonedOne

#SIC SEMPER TYRANNIS
/code/modules/hydroponics/grown/citrus.dm @optimumtact

Brig Physician put granted exp sec type back
  fulp_modules/features/jobs/brigdoc/brigdoc.dm
Owners: none

Removed extra line
  fulp_modules/features/jobs/brigdoc/brigdoc.dm
Owners: none

QM office tweak
  _maps/map_files/SolitaireStation/Solitairestation.dmm
Owners: @EOBGames, @ShizCalev, @Maurukas

Toxins cleanup isle 2
  _maps/map_files/Heliostation/Heliostation.dmm
  _maps/map_files/SeleneStation/SeleneStation.dmm
Owners: @EOBGames, @ShizCalev, @Maurukas

fixes for fulp maps (#424)
  _maps/map_files/Heliostation/Heliostation.dmm
  _maps/map_files/SeleneStation/SeleneStation.dmm
Owners: @EOBGames, @ShizCalev, @Maurukas

Brig Physician now requires medical playtime (#423)
  fulp_modules/features/jobs/brigdoc/brigdoc.dm
Owners: none

changed outdated radiation flavortext
  fulp_modules/features/jobs/brigdoc/beacon.dm
Owners: none

- Playtest feedback changes
  _maps/map_files/SolitaireStation/Solitairestation.dmm
Owners: @EOBGames, @ShizCalev, @Maurukas

Hi
  fulp_modules/Z_edits/emote_edits/cooldowns.dm
  tgstation.dme
Owners: none

howd this happen
  tgstation.dme
Owners: none

John's suggestion
  fulp_modules/features/lisa/joelgun.dm
Owners: none

Atmos and minor tweaks
  _maps/map_files/SolitaireStation/Solitairestation.dmm
Owners: @EOBGames, @ShizCalev, @Maurukas

deputy berets cant be knocked off, deputies get tablets, service deputy beret buff.
  fulp_modules/features/jobs/deputy/deputy.dm
  fulp_modules/features/jobs/deputy/deputy_clothing.dm
Owners: none

Changeling spider nerf
  fulp_modules/Z_edits/antag_edits/changeling_spiders.dm
  fulp_modules/Z_edits/antag_edits/cult_stun.dm
  tgstation.dme
Owners: none

fix
  fulp_modules/Z_edits/antag_edits/changeling_spiders.dm
Owners: none

delete the spider reference at the end, you've used it up.
  fulp_modules/Z_edits/antag_edits/changeling_spiders.dm
Owners: none

moves spiders_created to changeling datum because the power doesn't save it
  fulp_modules/Z_edits/antag_edits/changeling_spiders.dm
Owners: none

ehh fuck it, re-usable reference
  fulp_modules/Z_edits/antag_edits/changeling_spiders.dm
Owners: none

Update changeling_spiders.dm
  fulp_modules/Z_edits/antag_edits/changeling_spiders.dm
Owners: none

fix
  fulp_modules/Z_edits/antag_edits/changeling_spiders.dm
Owners: none

bfeeman locket fix
  fulp_modules/features/clothing/neck/beefman_locket.dm
  fulp_modules/features/clothing/neck/beefman_locket.dmi
  fulp_modules/features/clothing/neck/beefman_locket_worn.dmi
  tgstation.dme
Owners: none

Smoll fix
  fulp_modules/features/clothing/neck/beefman_locket.dm
Owners: none

Toxins cleanup isle 2 (#425)
  _maps/map_files/Heliostation/Heliostation.dmm
  _maps/map_files/SeleneStation/SeleneStation.dmm
Owners: @EOBGames, @ShizCalev, @Maurukas

changed outdated radiation flavortext (#426)
  fulp_modules/features/jobs/brigdoc/beacon.dm
Owners: none

Increases the spin and flip cooldowns (#427)
  fulp_modules/Z_edits/emote_edits/cooldowns.dm
  tgstation.dme
Owners: none

Misdirection can no longer break the laws of physics (#415)
  fulp_modules/features/lisa/joelgun.dm
Owners: none

fuck you
  fulp_modules/features/jobs/deputy/deputy.dm
Owners: none

Deputy update (#428)
  fulp_modules/features/jobs/deputy/deputy.dm
  fulp_modules/features/jobs/deputy/deputy_clothing.dm
Owners: none

Improves BS code by making it more simple, making it easier to read.
  code/___fulp_defines/bloodsucker_defines.dm
  fulp_modules/Z_edits/heart.dm
  fulp_modules/features/bloodsuckers/code/antagonists/bloodsucker_datum.dm
  fulp_modules/features/bloodsuckers/code/bloodsucker/bloodsucker_daylight.dm
  fulp_modules/features/bloodsuckers/code/bloodsucker/bloodsucker_flaws.dm
  fulp_modules/features/bloodsuckers/code/bloodsucker/bloodsucker_guardian.dm
  fulp_modules/features/bloodsuckers/code/bloodsucker/bloodsucker_life.dm
  fulp_modules/features/bloodsuckers/code/bloodsucker/bloodsucker_objectives.dm
  fulp_modules/features/bloodsuckers/code/bloodsucker/bloodsucker_objects.dm
  fulp_modules/features/bloodsuckers/code/powers/_powers.dm
  fulp_modules/features/bloodsuckers/code/powers/brujah.dm
  fulp_modules/features/bloodsuckers/code/powers/cloak.dm
  fulp_modules/features/bloodsuckers/code/powers/distress.dm
  fulp_modules/features/bloodsuckers/code/powers/feed.dm
  fulp_modules/features/bloodsuckers/code/powers/gohome.dm
  fulp_modules/features/bloodsuckers/code/powers/recuperate.dm
  fulp_modules/features/bloodsuckers/code/powers/targeted/_powers_targeted.dm
  fulp_modules/features/bloodsuckers/code/powers/targeted/brawn.dm
  fulp_modules/features/bloodsuckers/code/powers/targeted/haste.dm
  fulp_modules/features/bloodsuckers/code/powers/targeted/lunge.dm
  fulp_modules/features/bloodsuckers/code/powers/targeted/mesmerize.dm
  fulp_modules/features/bloodsuckers/code/powers/targeted/trespass.dm
  fulp_modules/features/bloodsuckers/code/powers/tremere/_powers_tremere.dm
  fulp_modules/features/bloodsuckers/code/powers/tremere/auspex.dm
  fulp_modules/features/bloodsuckers/code/powers/tremere/dominate.dm
  fulp_modules/features/bloodsuckers/code/powers/tremere/thaumaturgy.dm
  fulp_modules/features/bloodsuckers/code/powers/veil.dm
  fulp_modules/features/bloodsuckers/code/rulesets/bloodsucker_rulesets.dm
  tgstation.dme
Owners: none

tremere powers can be purchased again.
  fulp_modules/features/bloodsuckers/code/powers/tremere/_powers_tremere.dm
Owners: none

Update changeling_spiders.dm
  fulp_modules/Z_edits/antag_edits/changeling_spiders.dm
Owners: none

Changeling Blood Spider nerf (#429)
  fulp_modules/Z_edits/antag_edits/changeling_spiders.dm
  fulp_modules/Z_edits/antag_edits/cult_stun.dm
  tgstation.dme
Owners: none

what
  config/game_options.txt
  fulp_modules/features/species/beefmen/beefman_clothing.dm
  fulp_modules/features/species/beefmen/beefman_preferences.dm
  fulp_modules/features/species/beefmen/mob/beefman.dm
  fulp_modules/features/species/beefmen/mob/beefman_accessories.dm
  fulp_modules/features/species/beefmen/mob/beefman_sash.dm
  fulp_modules/features/species/beefmen/mob/beefman_trauma.dm
  fulp_modules/features/species/beefmen/mob/phobetor_trauma.dm
  fulp_modules/features/species/species_integration.dm
  tgstation.dme
Owners: @MrStonedOne

moves things to unused beefman procs
  fulp_modules/features/bloodsuckers/code/powers/veil.dm
  fulp_modules/features/species/beefmen/beefman_integration.dm
  fulp_modules/features/species/beefmen/mob/beefman.dm
  fulp_modules/features/species/beefmen/mob/beefman_limbs.dm
  fulp_modules/features/species/beefmen/unused_beefmen_procs.dm
  fulp_modules/features/species/species_integration.dm
  tgstation.dme
Owners: none

randomized brain trauma
  fulp_modules/features/species/beefmen/beefman_integration.dm
  fulp_modules/features/species/beefmen/mob/beefman.dm
  fulp_modules/features/species/beefmen/mob/beefman_sash.dm
  fulp_modules/features/species/beefmen/phobetor_trauma.dm
  fulp_modules/features/species/beefmen/unused_beefmen_procs.dm
  tgstation.dme
Owners: none

should be good for testing now
  fulp_modules/features/species/beefmen/mob/beefman.dm
  fulp_modules/features/species/beefmen/mob/beefman_accessories.dm
  fulp_modules/features/species/beefmen/russian.dm
  fulp_modules/features/species/beefmen/unused_beefmen_procs.dm
  tgstation.dme
Owners: none

removes tg edit i made
  config/game_options.txt
Owners: @MrStonedOne

cargo consoles, ticket counters, benches, circuits and misc changes from feedback
  _maps/map_files/SolitaireStation/Solitairestation.dmm
Owners: @EOBGames, @ShizCalev, @Maurukas

Fixes bfeeman locket error sprite (#430)
  fulp_modules/features/clothing/neck/beefman_locket.dm
  fulp_modules/features/clothing/neck/beefman_locket.dmi
  fulp_modules/features/clothing/neck/beefman_locket_worn.dmi
  tgstation.dme
Owners: none
