Repository fulpstation/fulpstation, pull requests merged in 2021-11, with the labels that each got.

#377 [IDB IGNORE] 2021 Halloween Event
  fulp_modules/features/greyscale/fulp_greyscale_configs.dm
  fulp_modules/features/greyscale/fulp_json_configs/lizard_onesie.json
  fulp_modules/features/greyscale/fulp_json_configs/lizard_onesie_hood.json
  fulp_modules/features/greyscale/fulp_json_configs/lizard_onesie_hood_worn.json
  fulp_modules/features/greyscale/fulp_json_configs/lizard_onesie_worn.json
  fulp_modules/features/greyscale/fulp_json_configs/slugcat.json
  fulp_modules/features/greyscale/fulp_json_configs/slugcat_hood.json
  fulp_modules/features/greyscale/fulp_json_configs/slugcat_hood_worn.json
  fulp_modules/features/greyscale/fulp_json_configs/slugcat_worn.json
  fulp_modules/features/halloween/2021/2021_icons.dmi
  fulp_modules/features/halloween/2021/2021_icons_worn.dmi
  fulp_modules/features/halloween/2021/2021_icons_worn_64.dmi
  fulp_modules/features/halloween/2021/costumes.dm
  fulp_modules/features/halloween/2021/costumes_gags.dm
  fulp_modules/features/halloween/_code.dm
  fulp_modules/features/halloween/box.dmi
  tgstation.dme
Labels: Feature, Sprites, Modular

#400 Reverts Monster hunters back to an event
  fulp_modules/main_features/bloodsuckers/code/rulesets/monsterhunter_event.dm
  fulp_modules/main_features/bloodsuckers/code/rulesets/monsterhunter_rulesets.dm
  tgstation.dme
Labels: Modular, Code Improvement

#401 Removes skeleton corpse from selene maints
  _maps/map_files/SeleneStation/SeleneStation.dmm
Labels: Map Edit, Balance, Modular

#402 Selenestation library and chapel changes
  _maps/map_files/SeleneStation/SeleneStation.dmm
Labels: Map Edit, Modular

#404 Kills enrico
  fulp_modules/features/antag_tips/code/antag_tip_integration.dm
Labels: Fix, Modular

#411 Fixes selene library airlock name
  _maps/map_files/SeleneStation/SeleneStation.dmm
Labels: Map Edit, Fix

#413 BEEFMAN RUSSIAN 2
  fulp_modules/features/species/beefmen/mob/beefman.dm
  fulp_modules/features/species/icons/mob/beef_tongue.dmi
Labels: Fix, Modular

#414 You're a Mean One, Helianthus
  _maps/map_files/Heliostation/Heliostation.dmm
  _maps/map_files/SeleneStation/SeleneStation.dmm
  fulp_modules/Z_edits/christmas.dm
  tgstation.dme
Labels: Quality of Life, Modular

#410 Mentorhelp: Mentorwho fix & slight code improvement
  fulp_modules/features/mentors/mentor.dm
  fulp_modules/features/mentors/mentor_clientprocs.dm
  fulp_modules/features/mentors/mentorpm.dm
  fulp_modules/features/mentors/mentorwho.dm
Labels: Fix, Modular, Code Improvement

#416 makes fulp maps more like every other map that isn't deltastation
  _maps/map_files/Heliostation/Heliostation.dmm
  _maps/map_files/SeleneStation/SeleneStation.dmm
Labels: Map Edit, Quality of Life, Modular
