Repository fulpstation/fulpstation, pull requests merged in 2021-05, with the labels that each got.

#141 Heliostation sm waste and scrubber pipe layer fixes
  _maps/map_files/Heliostation/Heliostation.dmm
Labels: Map Edit, Modular

#145 SeleneStation : Adding Fuel tank to Engineering
  _maps/map_files/SeleneStation/SeleneStation.dmm
Labels: Map Edit, Modular

#146 SeleneStation : Changed the morgue doors
  _maps/map_files/SeleneStation/SeleneStation.dmm
Labels: Map Edit, Modular

#148 Fulp logo
  fulp_modules/edits/fulp_logo/fulp_logo.dm
  fulp_modules/edits/fulp_logo/fulp_logo.dmi
  tgstation.dme
Labels: Modular, Sprites

#149 Deletes Selenestation
  _maps/map_files/SeleneStation/SeleneStation.dmm
Labels: Map Edit, Modular

#152 [Selenestation] Adds coffee vendors
  _maps/map_files/SeleneStation/SeleneStation.dmm
Labels: Map Edit, Modular

#129 Fixes double Torpor, moves Coffin to process + Other balances/fixes
  code/___fulp_defines/fulp_defines.dm
  fulp_modules/main_features/bloodsuckers/code/antagonists/bloodsucker_datum.dm
  fulp_modules/main_features/bloodsuckers/code/antagonists/monsterhunter_datum.dm
  fulp_modules/main_features/bloodsuckers/code/bloodsucker/bloodsucker_coffin.dm
  fulp_modules/main_features/bloodsuckers/code/bloodsucker/bloodsucker_crypt.dm
  fulp_modules/main_features/bloodsuckers/code/bloodsucker/bloodsucker_integration.dm
  fulp_modules/main_features/bloodsuckers/code/bloodsucker/bloodsucker_lair.dm
  fulp_modules/main_features/bloodsuckers/code/bloodsucker/bloodsucker_life.dm
  fulp_modules/main_features/bloodsuckers/code/bloodsucker/bloodsucker_objects.dm
  fulp_modules/main_features/bloodsuckers/code/gamemodes/bloodsucker_gamemode.dm
  fulp_modules/main_features/bloodsuckers/code/powers/_powers.dm
  fulp_modules/main_features/bloodsuckers/code/powers/brawn.dm
  fulp_modules/main_features/bloodsuckers/code/powers/cloak.dm
  fulp_modules/main_features/bloodsuckers/code/powers/feed.dm
  fulp_modules/main_features/bloodsuckers/code/powers/fortitude.dm
  fulp_modules/main_features/bloodsuckers/code/powers/gohome.dm
  fulp_modules/main_features/bloodsuckers/code/powers/lunge.dm
  fulp_modules/main_features/bloodsuckers/code/powers/masquerade.dm
  fulp_modules/main_features/bloodsuckers/code/powers/mesmerize.dm
  fulp_modules/main_features/bloodsuckers/code/powers/recuperate.dm
  fulp_modules/main_features/bloodsuckers/code/powers/trespass.dm
  fulp_modules/main_features/bloodsuckers/code/powers/veil.dm
  fulp_modules/main_features/bloodsuckers/readme.MD
  tgstation.dme
Labels: Balance, Modular

#154 We've got you surrounded sir come fix hud icons
  fulp_modules/ZFulpcode/modules/jobs/huds.dm
  fulp_modules/main_features/jobs/brigdoc/code/brigdoc.dm
  fulp_modules/main_features/jobs/deputy/code/deputy.dm
  fulp_modules/main_features/jobs/job_integration.dm
Labels: Fix, Modular

#161 Adds Fulp flowchart to the readme
  fulp_modules/readme.md
Labels: DO NOT MERGE, Modular, Quality of Life

#163 Bloodsucker fixes (sleep is too strong)
  fulp_modules/main_features/bloodsuckers/code/antagonists/bloodsucker_datum.dm
  fulp_modules/main_features/bloodsuckers/code/bloodsucker/bloodsucker_life.dm
  fulp_modules/main_features/bloodsuckers/code/powers/cloak.dm
  fulp_modules/main_features/bloodsuckers/code/powers/fortitude.dm
  fulp_modules/main_features/bloodsuckers/code/powers/lunge.dm
  fulp_modules/main_features/bloodsuckers/code/powers/masquerade.dm
  fulp_modules/main_features/bloodsuckers/code/powers/recuperate.dm
  fulp_modules/main_features/bloodsuckers/code/powers/veil.dm
Labels: Fix, Modular

#157 SeleneStation: Moving the wrench ,in the execution room closet, outside
  _maps/map_files/SeleneStation/SeleneStation.dmm
Labels: Map Edit, Modular

#166 Service deputy update
  code/controllers/subsystem/job.dm
  code/game/machinery/computer/crew.dm
  fulp_modules/global_vars.dm
  fulp_modules/main_features/jobs/deputy/code/deputy.dm
  fulp_modules/main_features/jobs/deputy/code/deputy_clothing.dm
  fulp_modules/main_features/jobs/deputy/deputy_clothing/head_icons.dmi
  fulp_modules/main_features/jobs/deputy/deputy_clothing/head_worn.dmi
  fulp_modules/main_features/jobs/deputy/deputy_clothing/radio.dmi
  fulp_modules/main_features/jobs/huds.dmi
  fulp_modules/main_features/jobs/readme.MD
Labels: Feature, Fix

#170 Finishes Heliostation directionals
  _maps/map_files/Heliostation/Heliostation.dmm
Labels: Map Edit, Modular

#174 deputy hotfix
  fulp_modules/main_features/jobs/deputy/code/deputy_clothing.dm
Labels: Fix, Modular

#172 Updates Selenestation with directionals
  _maps/map_files/SeleneStation/SeleneStation.dmm
Labels: Map Edit, Modular

#175 SeleneStation: Crates stacked in engineering
  _maps/map_files/SeleneStation/SeleneStation.dmm
Labels: Fix, Map Edit

#178 Heliostation: Removed the request control from cargo
  _maps/map_files/Heliostation/Heliostation.dmm
Labels: Map Edit, Modular

#169 Bloodsucker balancing changes
  code/___fulp_defines/fulp_defines.dm
  code/game/objects/items/implants/implant_mindshield.dm
  fulp_modules/main_features/bloodsuckers/code/antagonists/bloodsucker_datum.dm
  fulp_modules/main_features/bloodsuckers/code/antagonists/monsterhunter_datum.dm
  fulp_modules/main_features/bloodsuckers/code/antagonists/vassal_datum.dm
  fulp_modules/main_features/bloodsuckers/code/bloodsucker/bloodsucker_coffin.dm
  fulp_modules/main_features/bloodsuckers/code/bloodsucker/bloodsucker_crypt.dm
  fulp_modules/main_features/bloodsuckers/code/bloodsucker/bloodsucker_daylight.dm
  fulp_modules/main_features/bloodsuckers/code/bloodsucker/bloodsucker_integration.dm
  fulp_modules/main_features/bloodsuckers/code/bloodsucker/bloodsucker_life.dm
  fulp_modules/main_features/bloodsuckers/code/gamemodes/bloodsucker_gamemode.dm
  fulp_modules/main_features/bloodsuckers/code/gamemodes/monsterhunter_gamemode.dm
  fulp_modules/main_features/bloodsuckers/code/powers/brawn.dm
  fulp_modules/main_features/bloodsuckers/code/powers/cloak.dm
  fulp_modules/main_features/bloodsuckers/code/powers/haste.dm
  fulp_modules/main_features/bloodsuckers/code/powers/lunge.dm
  fulp_modules/main_features/bloodsuckers/code/powers/mesmerize.dm
  fulp_modules/main_features/bloodsuckers/code/powers/monstertrack.dm
  fulp_modules/main_features/bloodsuckers/code/powers/recuperate.dm
  fulp_modules/main_features/bloodsuckers/code/powers/trespass.dm
  fulp_modules/main_features/bloodsuckers/readme.MD
  tgstation.dme
Labels: Balance, Modular

#164 deletes cryopods
  fulp_modules/edits/cryopod_removal/cryopod.dm
  html/changelogs/AutoChangeLog-pr-59022.yml
  html/changelogs/archive/2021-05.yml
  tgstation.dme
Labels: Fix, Modular

#177 SeleneStation: Adding electrical and welding closet to construction room in engineering
  _maps/map_files/SeleneStation/SeleneStation.dmm
Labels: Map Edit, Modular

#181 Deputy access change & Bounty fix
  fulp_modules/main_features/jobs/deputy/code/deputy.dm
Labels: Fix, Modular

#184 SeleneStation: Mining wardrobe stack fix
  _maps/map_files/SeleneStation/SeleneStation.dmm
Labels: Fix, Map Edit, Modular

#173 Bloodsuckers - Frenzy & Clans
  code/___fulp_defines/fulp_defines.dm
  code/game/objects/items/implants/implant_mindshield.dm
  fulp_modules/main_features/bloodsuckers/code/antagonists/bloodsucker_datum.dm
  fulp_modules/main_features/bloodsuckers/code/antagonists/monsterhunter_datum.dm
  fulp_modules/main_features/bloodsuckers/code/antagonists/vassal_datum.dm
  fulp_modules/main_features/bloodsuckers/code/bloodsucker/bloodsucker_coffin.dm
  fulp_modules/main_features/bloodsuckers/code/bloodsucker/bloodsucker_crypt.dm
  fulp_modules/main_features/bloodsuckers/code/bloodsucker/bloodsucker_daylight.dm
  fulp_modules/main_features/bloodsuckers/code/bloodsucker/bloodsucker_flaws.dm
  fulp_modules/main_features/bloodsuckers/code/bloodsucker/bloodsucker_integration.dm
  fulp_modules/main_features/bloodsuckers/code/bloodsucker/bloodsucker_life.dm
  fulp_modules/main_features/bloodsuckers/code/bloodsucker/bloodsucker_objectives.dm
  fulp_modules/main_features/bloodsuckers/code/bloodsucker/bloodsucker_objects.dm
  fulp_modules/main_features/bloodsuckers/code/gamemodes/bloodsucker_gamemode.dm
  fulp_modules/main_features/bloodsuckers/code/gamemodes/monsterhunter_gamemode.dm
  fulp_modules/main_features/bloodsuckers/code/monster_hunter/hunterfu.dm
  fulp_modules/main_features/bloodsuckers/code/powers/_powers.dm
  fulp_modules/main_features/bloodsuckers/code/powers/brawn.dm
  fulp_modules/main_features/bloodsuckers/code/powers/cloak.dm
  fulp_modules/main_features/bloodsuckers/code/powers/distress.dm
  fulp_modules/main_features/bloodsuckers/code/powers/feed.dm
  fulp_modules/main_features/bloodsuckers/code/powers/fortitude.dm
  fulp_modules/main_features/bloodsuckers/code/powers/haste.dm
  fulp_modules/main_features/bloodsuckers/code/powers/lunge.dm
  fulp_modules/main_features/bloodsuckers/code/powers/masquerade.dm
  fulp_modules/main_features/bloodsuckers/code/powers/mesmerize.dm
  fulp_modules/main_features/bloodsuckers/code/powers/recuperate.dm
  fulp_modules/main_features/bloodsuckers/code/powers/trespass.dm
  fulp_modules/main_features/bloodsuckers/readme.MD
  tgstation.dme
Labels: Feature, Modular

#188 deletes fulp_uhoh_stinky.ogg
  fulp_modules/fulp_configs/code/sound.dm
  fulp_modules/fulp_configs/sound/Fulp_Uhoh_Stinky.ogg
Labels: Modular, Quality of Life, Removal

#186 Fulp 2.1?
  fulp_modules/ZFulpcode/modules/jobs/inventories.dm
  fulp_modules/ZFulpcode/readme.MD
  fulp_modules/Z_edits/container_init/machine_init.dm
  fulp_modules/Z_edits/container_init/readme.MD
  fulp_modules/Z_edits/cryopod_removal/cryopod.dm
  fulp_modules/Z_edits/cult_edit/cult.dm
  fulp_modules/Z_edits/fulp_jobs/inventories.dm
  fulp_modules/Z_edits/fulp_logo/fulp_logo.dm
  fulp_modules/Z_edits/fulp_logo/fulp_logo.dmi
  fulp_modules/Z_edits/huds/huds.dm
  fulp_modules/Z_edits/kiss_overwrite/kiss.dm
  fulp_modules/Z_edits/malfunction_bot/upstream_bot.dm
  fulp_modules/Z_edits/malfunction_bot/upstream_prefix.txt
  fulp_modules/Z_edits/nightmare_edit/nightmare.dm
  fulp_modules/Z_edits/readme.MD
  fulp_modules/edits/fulp_logo/fulp_logo.dm
  fulp_modules/fulp_configs/code/fulp_config.dm
  fulp_modules/fulp_configs/code/fulp_world.dm
  tgstation.dme
Labels: Code Improvement, Modular

#185 (Hopefully) Fixes Mentorhelp logging
  fulp_modules/main_features/mentorhelp/mentor.dm
  fulp_modules/main_features/mentorhelp/mentor_clientprocs.dm
  fulp_modules/main_features/mentorhelp/mentorhelp.dm
  fulp_modules/main_features/mentorhelp/mentorpm.dm
  fulp_modules/main_features/mentorhelp/mentorsay.dm
Labels: Fix, Modular
