Repository fulpstation/fulpstation, pull requests merged in 2022-12, with the labels that each got.

#783 Bloodsucker expansion: Favorites and Revenge vassals
  code/__DEFINES/role_preferences.dm
  fulp_modules/_defines/bloodsuckers.dm
  fulp_modules/_defines/fulp_helpers.dm
  fulp_modules/features/antagonists/bloodsuckers/code/antagonists/bloodsucker_datum.dm
  fulp_modules/features/antagonists/bloodsuckers/code/antagonists/bloodsucker_hud.dm
  fulp_modules/features/antagonists/bloodsuckers/code/antagonists/vassal/batform.dm
  fulp_modules/features/antagonists/bloodsuckers/code/antagonists/vassal/ex_vassal.dm
  fulp_modules/features/antagonists/bloodsuckers/code/antagonists/vassal/vassal_datum.dm
  fulp_modules/features/antagonists/bloodsuckers/code/antagonists/vassal/vassal_pinpointer.dm
  fulp_modules/features/antagonists/bloodsuckers/code/bloodsucker/bloodsucker_coffin.dm
  fulp_modules/features/antagonists/bloodsuckers/code/bloodsucker/bloodsucker_crypt.dm
  fulp_modules/features/antagonists/bloodsuckers/code/bloodsucker/bloodsucker_daylight.dm
  fulp_modules/features/antagonists/bloodsuckers/code/bloodsucker/bloodsucker_flaws.dm
  fulp_modules/features/antagonists/bloodsuckers/code/bloodsucker/bloodsucker_frenzy.dm
  fulp_modules/features/antagonists/bloodsuckers/code/bloodsucker/bloodsucker_integration.dm
  fulp_modules/features/antagonists/bloodsuckers/code/bloodsucker/bloodsucker_life.dm
  fulp_modules/features/antagonists/bloodsuckers/code/bloodsucker/bloodsucker_objectives.dm
  fulp_modules/features/antagonists/bloodsuckers/code/bloodsucker/bloodsucker_objects.dm
  fulp_modules/features/antagonists/bloodsuckers/code/bloodsucker/clans/_clan.dm
  fulp_modules/features/antagonists/bloodsuckers/code/bloodsucker/clans/clan_malkavian.dm
  fulp_modules/features/antagonists/bloodsuckers/code/bloodsucker/clans/clan_ventrue.dm
  fulp_modules/features/antagonists/bloodsuckers/code/bloodsucker/shaded_bloodsucker.dm
  fulp_modules/features/antagonists/bloodsuckers/code/monster_hunter/hunterfu.dm
  fulp_modules/features/antagonists/bloodsuckers/code/powers/_powers.dm
  fulp_modules/features/antagonists/bloodsuckers/code/powers/cloak.dm
  fulp_modules/features/antagonists/bloodsuckers/code/powers/feed.dm
  fulp_modules/features/antagonists/bloodsuckers/code/powers/fortitude.dm
  fulp_modules/features/antagonists/bloodsuckers/code/powers/gohome.dm
  fulp_modules/features/antagonists/bloodsuckers/code/powers/masquerade.dm
  fulp_modules/features/antagonists/bloodsuckers/code/powers/monstertrack.dm
  fulp_modules/features/antagonists/bloodsuckers/code/powers/targeted/_powers_targeted.dm
  fulp_modules/features/antagonists/bloodsuckers/code/powers/targeted/brawn.dm
  fulp_modules/features/antagonists/bloodsuckers/code/powers/targeted/haste.dm
  fulp_modules/features/antagonists/bloodsuckers/code/powers/targeted/lunge.dm
  fulp_modules/features/antagonists/bloodsuckers/code/powers/targeted/mesmerize.dm
  fulp_modules/features/antagonists/bloodsuckers/code/powers/targeted/trespass.dm
  fulp_modules/features/antagonists/bloodsuckers/code/powers/tremere/auspex.dm
  fulp_modules/features/antagonists/bloodsuckers/code/powers/tremere/dominate.dm
  fulp_modules/features/antagonists/bloodsuckers/code/powers/tremere/thaumaturgy.dm
  fulp_modules/features/antagonists/bloodsuckers/code/powers/vassal/distress.dm
  fulp_modules/features/antagonists/bloodsuckers/code/powers/vassal/recuperate.dm
  fulp_modules/features/antagonists/bloodsuckers/code/powers/vassal/vassal_fold.dm
  fulp_modules/features/antagonists/bloodsuckers/code/powers/veil.dm
  tgstation.dme
  tgui/packages/fulpui-patches/interfaces/AntagInfoRevengeVassal.tsx
Labels: Feature, Fix, Modular

#855 Promotes the QM to command
  fulp_modules/features/antagonists/bloodsuckers/code/bloodsucker/bloodsucker_objectives.dm
Labels: Modular, Code Improvement

#859 Fixes Helio Fax Machine Placement Problems
  _maps/map_files/Heliostation/Heliostation.dmm
Labels: Map Edit, Fix, Modular

#860 Fixes Tremere auspex range
  fulp_modules/features/antagonists/bloodsuckers/code/powers/tremere/auspex.dm
Labels: Fix, Modular

#861 Adds support for non-range checking powers
  fulp_modules/features/antagonists/bloodsuckers/code/powers/targeted/_powers_targeted.dm
  fulp_modules/features/antagonists/bloodsuckers/code/powers/targeted/lunge.dm
  fulp_modules/features/antagonists/bloodsuckers/code/powers/tremere/_powers_tremere.dm
Labels: Modular, Code Improvement

#867 Ghosts can now see Infil radios
  fulp_modules/features/antagonists/infiltrators/infil_items.dm
Labels: Quality of Life, Modular, Code Improvement

#851 Heliostation Patch 2 - Engineering Complete Revamp; Minor Service Revamp; Economy Balance
  _maps/map_files/Heliostation/Heliostation.dmm
Labels: Feature, Map Edit, Modular

#862 Sol is now a Subsystem, Coffins lock themselves, Bloodsuckers don't constantly die, probably
  fulp_modules/_defines/bloodsuckers.dm
  fulp_modules/features/antagonists/bloodsuckers/code/antagonists/bloodsucker_datum.dm
  fulp_modules/features/antagonists/bloodsuckers/code/antagonists/bloodsucker_hud.dm
  fulp_modules/features/antagonists/bloodsuckers/code/bloodsucker/bloodsucker_coffin.dm
  fulp_modules/features/antagonists/bloodsuckers/code/bloodsucker/bloodsucker_daylight.dm
  fulp_modules/features/antagonists/bloodsuckers/code/bloodsucker/bloodsucker_life.dm
  fulp_modules/features/antagonists/bloodsuckers/code/bloodsucker/subsystem_sunlight.dm
  fulp_modules/features/antagonists/bloodsuckers/code/bloodsucker/vampire_team.dm
  tgstation.dme
Labels: Stale, Balance, Modular, Code Improvement

#872 Makes auspex use the new power support
  fulp_modules/features/antagonists/bloodsuckers/code/powers/tremere/auspex.dm
Labels: Modular, Code Improvement

#871 You no longer get antag tips if you're an antag who doesn't have
  fulp_modules/features/antagonists/antag_tips/antag_tip_integration.dm
Labels: Fix, Modular
