Repository fulpstation/fulpstation, pull requests merged in 2022-04, with the labels that each got.

#549 Some Selene fixes
  _maps/map_files/SeleneStation/SeleneStation.dmm
Labels: Map Edit, Fix, Modular

#573 Fulp codebase rework
  code/game/objects/items/devices/scanners.dm
  code/modules/mob/living/carbon/human/examine.dm
  fulp_modules/_defines/antag_tips.dm
  fulp_modules/_defines/bloodsuckers.dm
  fulp_modules/_defines/fulp_defines.dm
  fulp_modules/_defines/fulp_helpers.dm
  fulp_modules/_defines/signals.dm
  fulp_modules/_defines/traits.dm
  fulp_modules/features/antagonists/bloodsuckers/code/bloodsucker/bloodsucker_life.dm
  fulp_modules/features/antagonists/bloodsuckers/code/powers/brujah.dm
  fulp_modules/features/antagonists/bloodsuckers/code/powers/masquerade.dm
  fulp_modules/fulp_world/_global_vars.dm
  fulp_modules/fulp_world/fulp_config.dm
  fulp_modules/fulp_world/fulp_preferences.dm
  fulp_modules/fulp_world/fulp_world.dm
  fulp_modules/readme.md
  fulp_modules/tg_edits.md
  tgstation.dme
Labels: Code Improvement

#574 [Heliostation] fixes problems with atmos
  _maps/map_files/Heliostation/Heliostation.dmm
Labels: Map Edit, Fix, Modular

#577 Fixes broken glitter grenade on Selene
  _maps/map_files/SeleneStation/SeleneStation.dmm
Labels: Map Edit, Fix, Modular

#580 fixes runtime in gibbing beefmen
  fulp_modules/features/species/beefmen/mob/beefman_limbs.dm
Labels: Fix, Modular

#581 fixes mis-area'd on selene
  _maps/map_files/SeleneStation/SeleneStation.dmm
Labels: Map Edit, Fix, Modular

#582 Adds DNA disk box to selene genetics lab
  _maps/map_files/SeleneStation/SeleneStation.dmm
Labels: Map Edit, Fix, Modular

#583 Breather boys upgrade
  fulp_modules/features/halloween/2021/2021_icons.dmi
  fulp_modules/features/halloween/2021/2021_icons_worn.dmi
  fulp_modules/features/halloween/2021/costumes.dm
  fulp_modules/features/halloween/2021/yoo.wav
Labels: Feature, Modular

#587 Standardize toxins + helio qol
  _maps/map_files/Heliostation/Heliostation.dmm
  _maps/map_files/PubbyStation/PubbyStation.dmm
  _maps/map_files/SeleneStation/SeleneStation.dmm
Labels: Map Edit, Balance, Modular

#588 Bloodsucker expansion - Debraining
  fulp_modules/_defines/signals.dm
  fulp_modules/features/antagonists/bloodsuckers/code/antagonists/bloodsucker_datum.dm
  fulp_modules/features/antagonists/bloodsuckers/code/antagonists/monsterhunter_datum.dm
  fulp_modules/features/antagonists/bloodsuckers/code/antagonists/vassal_datum.dm
  fulp_modules/features/antagonists/bloodsuckers/code/bloodsucker/bloodsucker_integration.dm
  fulp_modules/features/antagonists/bloodsuckers/code/bloodsucker/bloodsucker_life.dm
  fulp_modules/features/antagonists/bloodsuckers/code/powers/_powers.dm
  fulp_modules/features/antagonists/bloodsuckers/code/powers/monstertrack.dm
  fulp_modules/features/antagonists/bloodsuckers/code/powers/targeted/_powers_targeted.dm
Labels: Feature, Modular

#589 fixes monsterhunter tracker
  fulp_modules/features/antagonists/bloodsuckers/code/powers/monstertrack.dm
Labels: Fix, Modular

#591 More Selene issues
  _maps/map_files/SeleneStation/SeleneStation.dmm
Labels: Map Edit, Fix

#592 Adds a prison shuttle gate
  _maps/map_files/Heliostation/Heliostation.dmm
  _maps/map_files/PubbyStation/PubbyStation.dmm
  _maps/map_files/SeleneStation/SeleneStation.dmm
  fulp_modules/features/prison/prison_shuttle/prison_gate.dm
  fulp_modules/features/prison/prison_shuttle/prison_shuttle_template.dm
  tgstation.dme
Labels: Balance, Modular

#593 Fixes tournament medal
  fulp_modules/features/halloween/2021/costumes.dm
Labels: Fix, Modular

#595 Lowers pubby's prisoners to 2
  _maps/pubbystation.json
Labels: Quality of Life, Modular

#596 halves the amount of paramedics
  fulp_modules/Z_edits/job_edits.dm
Labels: Quality of Life, Modular

#598 Adds maps to fulp
  _maps/map_files/Heliostation/Heliostation.dmm
  _maps/map_files/SeleneStation/SeleneStation.dmm
  fulp_modules/mapping/icons/mapping.dmi
  fulp_modules/mapping/station_objects/signs.dm
  tgstation.dme
Labels: Feature, Map Edit, Sprites, Modular

#599 body cameras fit on security wintercoats
  fulp_modules/features/clothing/body_cameras/body_camera.dm
Labels: Quality of Life, Modular

#597 removes nearly all borg positions
  fulp_modules/Z_edits/job_edits.dm
Labels: Quality of Life, Modular

#600 Fixes prison kitchen bot ordering unobtainable food
  fulp_modules/features/prison/prison_kitchen/prison_bots/rat_bot.dm
Labels: Fix, Modular

#601 Fulp Maps Access Overhaul (Mainly Solar/External Airlocks)
  _maps/map_files/Heliostation/Heliostation.dmm
  _maps/map_files/PubbyStation/PubbyStation.dmm
  _maps/map_files/SeleneStation/SeleneStation.dmm
Labels: Map Edit, Fix, Modular

#603 Cleanup shuttle drop pods refactor
  fulp_modules/features/prison/prison_shuttle/prison_shuttle_template.dm
  fulp_modules/mapping/prison_shuttles/prison_cleaning.dmm
Labels: Modular, Code Improvement

#604 Adds a Pubby reference to Selene's ordnance
  _maps/map_files/SeleneStation/SeleneStation.dmm
Labels: Map Edit, Fix, Modular

#605 Fixes missing tile on Helio's ordnance.
  _maps/map_files/Heliostation/Heliostation.dmm
Labels: Map Edit, Fix, Modular

#606 fulp 3.2?? or something
  code/modules/mob/living/carbon/human/species.dm
  fulp_modules/Z_edits/economy_edit.dm
  fulp_modules/Z_edits/inititalize_edits/closet_init.dm
  fulp_modules/Z_edits/inititalize_edits/vendor_init.dm
  fulp_modules/Z_edits/nightmare_edit.dm
  fulp_modules/features/antagonists/bloodsuckers/code/bloodsucker/bloodsucker_guardian.dm
  fulp_modules/features/antagonists/bloodsuckers/code/bloodsucker/bloodsucker_integration.dm
  fulp_modules/features/antagonists/bloodsuckers/code/bloodsucker/bloodsucker_objectives.dm
  fulp_modules/features/antagonists/bloodsuckers/code/bloodsucker/bloodsucker_objects.dm
  fulp_modules/features/antagonists/bloodsuckers/code/powers/brujah.dm
  fulp_modules/features/antagonists/bloodsuckers/code/powers/cloak.dm
  fulp_modules/features/antagonists/bloodsuckers/code/powers/recuperate.dm
  fulp_modules/features/antagonists/ert/code/antag_datum.dm
  fulp_modules/features/clothing/body_cameras/body_camera.dm
  fulp_modules/features/halloween/2020/costumes.dm
  fulp_modules/features/halloween/2020/onesies.dm
  fulp_modules/features/halloween/2020/power_rangers.dm
  fulp_modules/features/halloween/2020/princess.dm
  fulp_modules/features/halloween/2021/readme.MD
  fulp_modules/features/jobs/deputy/deputy_block.dm
  fulp_modules/features/mentors/mentor_clientprocs.dm
  fulp_modules/features/prison/prison_shuttle/prison_mail.dm
  fulp_modules/features/species/beefmen/mob/beefman.dm
Labels: Modular, Code Improvement

#608 Fixes cryo on fulp maps
  _maps/map_files/Heliostation/Heliostation.dmm
  _maps/map_files/PubbyStation/PubbyStation.dmm
  _maps/map_files/SeleneStation/SeleneStation.dmm
Labels: Map Edit, Fix, Modular

#611 Fixes Selene map error
  _maps/map_files/SeleneStation/SeleneStation.dmm
Labels: Map Edit, Fix, Modular

#621 Makes Fulp maps' labour camp shuttles work again!
  _maps/map_files/Heliostation/Heliostation.dmm
  _maps/map_files/PubbyStation/PubbyStation.dmm
  _maps/map_files/SeleneStation/SeleneStation.dmm
Labels: Map Edit, Fix, Modular

#613 adds a mutadone medipen cargo crate + fixes exploits
  fulp_modules/features/cargo/cargo.dm
Labels: Fix, Balance, Modular

#614 Missing stuff in sci and med
  _maps/map_files/Heliostation/Heliostation.dmm
  _maps/map_files/SeleneStation/SeleneStation.dmm
Labels: Map Edit, Fix, Modular

#615 bloodsucker huds persist through bodies
  fulp_modules/_defines/bloodsuckers.dm
  fulp_modules/features/antagonists/bloodsuckers/code/antagonists/bloodsucker_datum.dm
  fulp_modules/features/antagonists/bloodsuckers/code/antagonists/monsterhunter_datum.dm
  fulp_modules/features/antagonists/bloodsuckers/code/bloodsucker/bloodsucker_daylight.dm
  fulp_modules/features/antagonists/bloodsuckers/code/bloodsucker/bloodsucker_flaws.dm
Labels: Feature, Modular, Code Improvement

#616 Hopefully fixes feed not breaking masquerade
  fulp_modules/features/antagonists/bloodsuckers/code/powers/feed.dm
Labels: Fix, Modular

#617 moves bloodsucker powers to Process
  fulp_modules/features/antagonists/bloodsuckers/code/powers/_powers.dm
  fulp_modules/features/antagonists/bloodsuckers/code/powers/cloak.dm
  fulp_modules/features/antagonists/bloodsuckers/code/powers/feed.dm
  fulp_modules/features/antagonists/bloodsuckers/code/powers/fortitude.dm
  fulp_modules/features/antagonists/bloodsuckers/code/powers/gohome.dm
  fulp_modules/features/antagonists/bloodsuckers/code/powers/recuperate.dm
  fulp_modules/features/antagonists/bloodsuckers/code/powers/targeted/_powers_targeted.dm
Labels: Modular, Code Improvement

#619 fixe s meatman icon bgu=
  fulp_modules/features/species/beefmen/mob/beefman.dm
Labels: Fix, Modular

#620 Fixes typo in bloodsucker tip and removes redundant info message
  fulp_modules/features/antagonists/bloodsuckers/code/bloodsucker/bloodsucker_coffin.dm
Labels: Modular, Grammar/Spelling

#624 Fixes Helio and Selene's labour camp shuttles FOR REAL.
  _maps/map_files/Heliostation/Heliostation.dmm
  _maps/map_files/SeleneStation/SeleneStation.dmm
Labels: Map Edit, Fix, Modular
