Repository fulpstation/fulpstation, pull requests merged in 2022-07, with the labels that each got.

#694 Updates our stations with directional shutters
  _maps/map_files/Heliostation/Heliostation.dmm
  _maps/map_files/SeleneStation/SeleneStation.dmm
Labels: Map Edit, Fix, Modular

#701 Separates Heliostation's Aft Surgery into two separate rooms.
  _maps/map_files/Heliostation/Heliostation.dmm
Labels: Map Edit, Modular

#705 Updates beefstation
  fulp_modules/mapping/ruins/space/beef_station.dmm
Labels: Map Edit, Fix, Modular

#714 selene atmos 2
  _maps/map_files/SeleneStation/SeleneStation.dmm
Labels: Map Edit, Modular

#704 kid named 'allow player interpretation' (beefman lore update).
  fulp_modules/features/species/beefmen/mob/beefman.dm
  fulp_modules/mapping/ruins/icemoon/beef_cytology.dmm
  fulp_modules/mapping/ruins/space/beef_station.dmm
Labels: Quality of Life, Modular

#708 Maintifies the maint on helio
  _maps/map_files/Heliostation/Heliostation.dmm
Labels: Map Edit, Modular

#711 Infiltrator Radio, adds new antag hud, fixes them spawning with white hair
  fulp_modules/features/antagonists/infiltrators/icons/infils.dmi
  fulp_modules/features/antagonists/infiltrators/infil_items.dm
  fulp_modules/features/antagonists/infiltrators/infil_objectives.dm
  fulp_modules/features/antagonists/infiltrators/infil_ruleset.dm
  fulp_modules/features/antagonists/infiltrators/infiltrator.dm
  tgui/packages/fulpui-patches/interfaces/InfilRadio.js
Labels: Feature, Modular

#706 Added Round Time to Hub Entry
  fulp_modules/fulp_world/fulp_world.dm
Labels: Quality of Life, Modular

#718 Fixes bloodsuckers getting affected by fluctuating blood levels
  fulp_modules/features/antagonists/bloodsuckers/code/bloodsucker/bloodsucker_integration.dm
Labels: Fix, Modular

#719 Makes Helio tcomms charge
  _maps/map_files/Heliostation/Heliostation.dmm
Labels: Map Edit, Fix, Modular

#720 Fixes using powers while incapacitated
  fulp_modules/features/antagonists/bloodsuckers/code/powers/brujah.dm
  fulp_modules/features/antagonists/bloodsuckers/code/powers/fortitude.dm
  fulp_modules/features/antagonists/bloodsuckers/code/powers/masquerade.dm
Labels: Fix, Modular

#721 Fixes Ventrue bloodsuckers using blood when not levelling up
  fulp_modules/features/antagonists/bloodsuckers/code/antagonists/bloodsucker_datum.dm
  fulp_modules/features/antagonists/bloodsuckers/code/bloodsucker/bloodsucker_crypt.dm
Labels: Fix, Modular

#722 Makes heliostation AI sat awesome
  _maps/map_files/Heliostation/Heliostation.dmm
  _maps/map_files/SeleneStation/SeleneStation.dmm
  fulp_modules/mapping/areas/areas.dm
  fulp_modules/mapping/areas/icons.dmi
  tgstation.dme
Labels: Map Edit, Quality of Life, Modular

#724 hotfix to ventrue bloodsuckers
  fulp_modules/features/antagonists/bloodsuckers/code/bloodsucker/bloodsucker_crypt.dm
Labels: Fix, Modular

#717 Heliostation Lawyer improvements
  _maps/map_files/Heliostation/Heliostation.dmm
Labels: Map Edit, Fix, Modular

#725 Fixes the Monster Hunter antagonist
  tgui/packages/tgui/interfaces/PreferencesMenu/antagonists/antagonists/monsterhunter.ts
Labels: Fix, Modular, Grammar/Spelling

#726 Ports the Admin Log spam fix
  code/datums/storage/subtypes/extract_inventory.dm
Labels: Fix, Administration

#733 The maintainers have wronged me & suffered for it
  fulp_modules/mapping/ruins/space/beef_station.dmm
Labels: Map Edit, Fix, Modular

#723 Removes the Selene RD office firelock
  _maps/map_files/SeleneStation/SeleneStation.dmm
Labels: Map Edit, Fix, Modular

#727 Nerfs SeleneStation's medbay maints' crate
  _maps/map_files/SeleneStation/SeleneStation.dmm
Labels: Map Edit, Fix, Modular

#728 Saves Selene's brig
  _maps/map_files/SeleneStation/SeleneStation.dmm
Labels: Map Edit, Fix, Modular

#698 Heliostation Spring Cleaning
  _maps/heliostation.json
  _maps/map_files/Heliostation/Heliostation.dmm
Labels: Map Edit, Merge Conflict, Modular, Code Improvement

#734 breather mask hides the snout
  fulp_modules/features/halloween/2021/costumes.dm
Labels: Fix, Modular

#736 Makes Selene less fat
  _maps/map_files/SeleneStation/SeleneStation.dmm
  fulp_modules/mapping/station_objects/decals.dm
  tgstation.dme
Labels: Map Edit, Fix, Modular

#737 fixes PET killing objective
  fulp_modules/features/antagonists/infiltrators/infil_objectives.dm
  fulp_modules/features/antagonists/infiltrators/infiltrator.dm
Labels: Fix, Modular

#738 Adds the missing APCs and Air alarms to helio and changes lobby to engi proper
  _maps/map_files/Heliostation/Heliostation.dmm
Labels: Map Edit, Fix, Modular

#741 fixes everything in the universe in selene station
  _maps/map_files/SeleneStation/SeleneStation.dmm
Labels: Map Edit, Fix, Modular

#747 Overhauls (most of) Heliostation Security
  _maps/map_files/Heliostation/Heliostation.dmm
  fulp_modules/mapping/areas/areas.dm
  fulp_modules/mapping/areas/icons.dmi
Labels: Map Edit, Modular

#742 Fixes selene's permabrig
  _maps/map_files/SeleneStation/SeleneStation.dmm
Labels: Map Edit, Fix, Modular

#748 fixes vassals not seeing any huds and fixes bloodsucker huds
  fulp_modules/features/antagonists/bloodsuckers/code/antagonists/vassal_datum.dm
Labels: Fix, Modular

#749 Heliostation Department Rework - Cargo
  _maps/map_files/Heliostation/Heliostation.dmm
Labels: Map Edit, Modular
