Repository fulpstation/fulpstation, pull requests merged in 2022-02, with the labels that each got.

#495 fixes the 3 roundstart AT in beefstation
  fulp_modules/mapping/ruins/space/beef_station.dmm
Labels: Map Edit, Fix, Modular

#497 logs bloodsucker power purchasing
  fulp_modules/features/antagonists/bloodsuckers/code/antagonists/bloodsucker_datum.dm
  fulp_modules/features/antagonists/bloodsuckers/code/antagonists/vassal_datum.dm
Labels: Modular, Administration

#498 [Solitaire] Command/Virology/AI overhaul
  _maps/map_files/SolitaireStation/Solitairestation.dmm
Labels: Map Edit, Modular

#502 Removes removed mentorpm feature from the code
  fulp_modules/features/mentors/mentorpm.dm
Labels: Modular, Code Improvement

#504 Fixes prison bot ordering unexistant spaghetti
  fulp_modules/features/prison_kitchen/prison_bots.dm
Labels: Fix, Modular

#506 moves land mark out of the brig doc folder
  fulp_modules/features/jobs/landmark.dm
  tgstation.dme
Labels: Modular, Code Improvement

#507 removes double beds
  fulp_modules/Z_edits/emote_edits/kiss.dm
  fulp_modules/Z_edits/erp_removal/double_beds.dm
  fulp_modules/Z_edits/erp_removal/kiss.dm
  tgstation.dme
Labels: Quality of Life, Modular, Code Improvement

#499 [Solitaire] Minor fixes
  _maps/map_files/SolitaireStation/Solitairestation.dmm
Labels: Map Edit, Modular

#516 Fixes Heliostation using distro for thermomachine's exhaust
  _maps/map_files/Heliostation/Heliostation.dmm
Labels: Map Edit, Fix, Modular

#510 SolitareStation FIXES some access problems
  _maps/map_files/SolitaireStation/Solitairestation.dmm
Labels: Map Edit, Fix, Modular

#511 adds armoury shutters to pubbystation armoury
  _maps/map_files/PubbyStation/PubbyStation.dmm
Labels: Map Edit, Modular

#519 solitaresta fixes tcomsat apcs
  _maps/map_files/SolitaireStation/Solitairestation.dmm
Labels: Map Edit, Fix, Modular

#520 Fixes flying camera on solitaire atmospherics
  _maps/map_files/SolitaireStation/Solitairestation.dmm
Labels: Map Edit, Fix, Modular

#514 Nerfs Thaumaturgy, Feed and Lunge
  fulp_modules/features/antagonists/bloodsuckers/code/powers/feed.dm
  fulp_modules/features/antagonists/bloodsuckers/code/powers/targeted/lunge.dm
  fulp_modules/features/antagonists/bloodsuckers/code/powers/tremere/thaumaturgy.dm
Labels: Balance, Modular

#515 Malkavians get shaded instead of gibbed/dusted
  fulp_modules/features/antagonists/bloodsuckers/code/bloodsucker/bloodsucker_life.dm
  fulp_modules/features/antagonists/bloodsuckers/code/bloodsucker/shaded_bloodsucker.dm
  tgstation.dme
Labels: Feature, Modular

#523 both my solitaire PRs at once without conflicts
  _maps/map_files/SolitaireStation/Solitairestation.dmm
Labels: Map Edit, Modular

#517 Fixes missing fire alarm in selene cryo
  _maps/map_files/SeleneStation/SeleneStation.dmm
Labels: Map Edit, Fix, Modular

#486 Adds the living beefman plushie to the game
  fulp_modules/features/antagonists/traitor/uplink_items/race_restricted.dm
  fulp_modules/features/toys/code/plushies.dm
  fulp_modules/mapping/ruins/icemoon/beef_cytology.dmm
  fulp_modules/mapping/ruins/space/beef_station.dmm
  tgstation.dme
Labels: Feature, Modular

#508 Perma expansion 2
  _maps/map_files/Heliostation/Heliostation.dmm
  _maps/map_files/PubbyStation/PubbyStation.dmm
  _maps/map_files/SeleneStation/SeleneStation.dmm
  code/___fulp_defines/fulp_defines.dm
  config/maps.txt
  fulp_modules/Z_edits/economy_edit.dm
  fulp_modules/_global_vars.dm
  fulp_modules/features/prison/icons/bots.dmi
  fulp_modules/features/prison/icons/radio.dmi
  fulp_modules/features/prison/prison_cargo.dm
  fulp_modules/features/prison/prison_intercom.dm
  fulp_modules/features/prison/prison_kitchen/_restaurant.dm
  fulp_modules/features/prison/prison_kitchen/food_overwrites.dm
  fulp_modules/features/prison/prison_kitchen/job_scores.dm
  fulp_modules/features/prison/prison_kitchen/prefixes/hos_prefix.txt
  fulp_modules/features/prison/prison_kitchen/prefixes/prisoner_prefix.txt
  fulp_modules/features/prison/prison_kitchen/prefixes/rat_prefix.txt
  fulp_modules/features/prison/prison_kitchen/prefixes/warden_prefix.txt
  fulp_modules/features/prison/prison_kitchen/prison_bots/head_of_security_bot.dm
  fulp_modules/features/prison/prison_kitchen/prison_bots/lizard_bot.dm
  fulp_modules/features/prison/prison_kitchen/prison_bots/prisoner_bot.dm
  fulp_modules/features/prison/prison_kitchen/prison_bots/rat_bot.dm
  fulp_modules/features/prison/prison_kitchen/prison_bots/warden_bot.dm
  fulp_modules/features/prison/prison_shuttle/objective_fridge.dm
  fulp_modules/features/prison/prison_shuttle/objective_items.dm
  fulp_modules/features/prison/prison_shuttle/prison_mail.dm
  fulp_modules/features/prison/prison_shuttle/prison_shuttle_mobile.dm
  fulp_modules/features/prison/prison_shuttle/prison_shuttle_stationary.dm
  fulp_modules/features/prison/prison_shuttle/prison_shuttle_template.dm
  fulp_modules/features/prison/prison_shuttle/prison_subsystem.dm
  fulp_modules/features/prison/prison_shuttle/prison_vendor.dm
  fulp_modules/features/prison/prisoner.dm
  fulp_modules/features/prison_kitchen/prison_bots.dm
  fulp_modules/global_vars.dm
  fulp_modules/mapping/helpers/areas.dm
  fulp_modules/mapping/prison_shuttles/prison_bar.dmm
  fulp_modules/mapping/prison_shuttles/prison_botany.dmm
  fulp_modules/mapping/prison_shuttles/prison_cleaning.dmm
  fulp_modules/mapping/prison_shuttles/prison_disposals.dmm
  fulp_modules/mapping/prison_shuttles/prison_kitchen.dmm
  fulp_modules/mapping/prison_shuttles/prison_mailroom.dmm
  fulp_modules/mapping/prison_shuttles/prison_platepress.dmm
  fulp_modules/mapping/prison_shuttles/prison_xenobio.dmm
  tgstation.dme
Labels: Feature, Map Edit, Modular

#522 makes job positions a code thing rather than a config one.
  fulp_modules/Z_edits/job_edits.dm
  fulp_modules/features/jobs/brigdoc/brigdoc.dm
  fulp_modules/features/jobs/deputy/_deputy.dm
  fulp_modules/features/jobs/unlock_times.dm
  tgstation.dme
Labels: Fix, Modular

#528 fixe s lighting glitch in pubystation ai sat
  _maps/map_files/PubbyStation/PubbyStation.dmm
Labels: Map Edit, Fix

#529 Refactors vanishing act & improves logging SLIGHTLY
  fulp_modules/features/antagonists/bloodsuckers/code/powers/_powers.dm
  fulp_modules/features/antagonists/bloodsuckers/code/powers/distress.dm
  fulp_modules/features/antagonists/bloodsuckers/code/powers/gohome.dm
Labels: Balance, Modular, Code Improvement

#530 solitiare arrivals re-make
  _maps/map_files/SolitaireStation/Solitairestation.dmm
Labels: Map Edit, Modular

#533 beef statio nimprovement
  fulp_modules/mapping/ruins/space/beef_station.dmm
Labels: Map Edit, Modular

#535 Bloodsucker Grammar
  fulp_modules/features/antagonists/bloodsuckers/code/antagonists/bloodsucker_datum.dm
  fulp_modules/features/antagonists/bloodsuckers/code/antagonists/vassal_datum.dm
  fulp_modules/features/antagonists/bloodsuckers/code/bloodsucker/bloodsucker_coffin.dm
  fulp_modules/features/antagonists/bloodsuckers/code/bloodsucker/bloodsucker_crypt.dm
  fulp_modules/features/antagonists/bloodsuckers/code/bloodsucker/bloodsucker_daylight.dm
  fulp_modules/features/antagonists/bloodsuckers/code/bloodsucker/bloodsucker_flaws.dm
  fulp_modules/features/antagonists/bloodsuckers/code/bloodsucker/bloodsucker_life.dm
  fulp_modules/features/antagonists/bloodsuckers/code/bloodsucker/bloodsucker_objects.dm
Labels: Modular, Grammar/Spelling

#538 minor fixes for old halloween costumes
  fulp_modules/features/halloween/2019/costumes.dm
  fulp_modules/features/halloween/2020/costumes.dm
Labels: Fix, Modular

#539 fixes a runtime with beefmen spawners (fixes names)
  fulp_modules/mapping/ruins/icemoon/beefman_cytology/beefcyto_spawner.dm
Labels: Fix, Modular

#540 Makes cloak not care for people who can't see you
  fulp_modules/features/antagonists/bloodsuckers/code/powers/cloak.dm
Labels: Fix, Modular
