Repository fulpstation/fulpstation, pull requests merged in 2023-10, with the labels that each got.

#1044 Rewiring Heliostation for a circular design
  _maps/map_files/Heliostation/Heliostation.dmm
Labels: Map Edit, Balance, Modular

#1056 Turf click redirection for beefman tears, 1 extra range to interact with them, screentips and shoter balloon alerts
  fulp_modules/features/species/beefmen/phobetor_trauma.dm
Labels: Quality of Life, Balance, Modular

#1057 Fix gnomed
  fulp_modules/features/halloween/2020/costumes.dm
Labels: Fix, Modular

#1058 Fixes for beefman sashes
  fulp_modules/features/species/beefmen/beefman_clothing.dm
Labels: Fix, Modular

#1062 Gives Heliostation, Selene and Pubby's morgues coroner surgery trays
  _maps/map_files/Heliostation/Heliostation.dmm
  _maps/map_files/PubbyStation/PubbyStation.dmm
  _maps/map_files/SeleneStation/SeleneStation.dmm
Labels: Map Edit, Fix

#1063 Added bitrunner order console to helio
  _maps/map_files/Heliostation/Heliostation.dmm
  _maps/map_files/PubbyStation/PubbyStation.dmm
Labels: Map Edit, Fix
