Repository fulpstation/fulpstation, pull requests merged in 2023-02, with the labels that each got.

#890 Bloodsuckers: Refactors, QoL, Fixes
  fulp_modules/_defines/bloodsuckers.dm
  fulp_modules/features/antagonists/antag_tips/antag_tip_integration.dm
  fulp_modules/features/antagonists/bloodsuckers/code/antagonists/bloodsucker/bloodsucker_datum.dm
  fulp_modules/features/antagonists/bloodsuckers/code/bloodsucker/bloodsucker_frenzy.dm
  fulp_modules/features/antagonists/bloodsuckers/code/bloodsucker/bloodsucker_life.dm
  fulp_modules/features/antagonists/bloodsuckers/code/bloodsucker/bloodsucker_objectives.dm
  fulp_modules/features/antagonists/bloodsuckers/code/bloodsucker/bloodsucker_objects.dm
  fulp_modules/features/antagonists/bloodsuckers/code/bloodsucker/bloodsucker_procs.dm
  fulp_modules/features/antagonists/bloodsuckers/code/bloodsucker/bloodsucker_sol.dm
  fulp_modules/features/antagonists/bloodsuckers/code/bloodsucker/clans/clan_flavortext.dm
  fulp_modules/features/antagonists/bloodsuckers/code/bloodsucker/vampire_team.dm
  fulp_modules/features/antagonists/bloodsuckers/code/powers/_powers.dm
  fulp_modules/features/antagonists/bloodsuckers/code/powers/fortitude.dm
  fulp_modules/features/antagonists/bloodsuckers/code/powers/targeted/haste.dm
  fulp_modules/features/antagonists/bloodsuckers/code/powers/targeted/lunge.dm
  fulp_modules/features/antagonists/bloodsuckers/code/powers/targeted/mesmerize.dm
  fulp_modules/features/antagonists/bloodsuckers/code/rulesets/bloodsucker_rulesets.dm
  fulp_modules/features/antagonists/bloodsuckers/code/vassal/types/revenge_vassal.dm
  fulp_modules/features/antagonists/bloodsuckers/code/vassal/vassal_procs.dm
  tgstation.dme
  tgui/packages/fulpui-patches/interfaces/AntagInfoBloodsucker.tsx
  tgui/packages/fulpui-patches/interfaces/KindredArchives.js
  tgui/packages/fulpui-patches/interfaces/KindredBook.tsx
Labels: Fix, Quality of Life, Modular, Code Improvement

#904 Puts Heliostation to TG Mapping standards
  _maps/map_files/Heliostation/Heliostation.dmm
Labels: Map Edit, Modular

#903 Vassal conversion code improvement & Monster Hunter changes
  fulp_modules/_defines/bloodsuckers.dm
  fulp_modules/features/antagonists/antag_tips/antag_tip_integration.dm
  fulp_modules/features/antagonists/bloodsuckers/code/bloodsucker/bloodsucker_conversion.dm
  fulp_modules/features/antagonists/bloodsuckers/code/bloodsucker/bloodsucker_datum.dm
  fulp_modules/features/antagonists/bloodsuckers/code/clans/_clan.dm
  fulp_modules/features/antagonists/bloodsuckers/code/clans/clan_flavortext.dm
  fulp_modules/features/antagonists/bloodsuckers/code/clans/clan_malkavian.dm
  fulp_modules/features/antagonists/bloodsuckers/code/clans/clan_nosferatu.dm
  fulp_modules/features/antagonists/bloodsuckers/code/clans/clan_tremere.dm
  fulp_modules/features/antagonists/bloodsuckers/code/clans/clan_ventrue.dm
  fulp_modules/features/antagonists/bloodsuckers/code/powers/targeted/_powers_targeted.dm
  fulp_modules/features/antagonists/bloodsuckers/code/powers/targeted/lunge.dm
  fulp_modules/features/antagonists/bloodsuckers/code/powers/tremere/dominate.dm
  fulp_modules/features/antagonists/bloodsuckers/code/rulesets/bloodsucker_rulesets.dm
  fulp_modules/features/antagonists/bloodsuckers/code/rulesets/monsterhunter_event.dm
  fulp_modules/features/antagonists/bloodsuckers/code/structures/bloodsucker_coffin.dm
  fulp_modules/features/antagonists/bloodsuckers/code/structures/bloodsucker_crypt.dm
  fulp_modules/features/antagonists/bloodsuckers/code/structures/bloodsucker_objects.dm
  fulp_modules/features/antagonists/bloodsuckers/code/structures/bloodsucker_recipes.dm
  fulp_modules/features/antagonists/bloodsuckers/code/vassal/vassal_datum.dm
  fulp_modules/features/antagonists/rulesets/bloodsucker_rulesets.dm
  fulp_modules/features/antagonists/rulesets/infil_ruleset.dm
  fulp_modules/features/antagonists/rulesets/monsterhunter_event.dm
  tgstation.dme
Labels: Balance, Modular, Code Improvement

#900 Updates beef cytology
  fulp_modules/mapping/ruins/icemoon/beef_cytology.dmm
Labels: Map Edit

#909 adds atmos and airlock cycle to pubby cargo dock
  _maps/map_files/PubbyStation/PubbyStation.dmm
Labels: Map Edit

#908 mh antag tips and misc bug fixes
  fulp_modules/features/antagonists/infiltrators/infil_items.dm
  fulp_modules/features/antagonists/monster_hunter/monsterhunter_datum.dm
  fulp_modules/features/antagonists/monster_hunter/monsterhunter_weapons.dm
  fulp_modules/features/antagonists/monster_hunter/sounds/moonlightbeam.ogg
  fulp_modules/features/antagonists/monster_hunter/sounds/weaponsmithing.ogg
  fulp_modules/features/antagonists/rulesets/monsterhunter_event.dm
  fulp_modules/mapping/custom/wonderland.dmm
  tgui/packages/fulpui-patches/interfaces/HunterContract.js
Labels: Fix, Modular

#912 Auspex no longer puts you to sleep
  fulp_modules/features/antagonists/bloodsuckers/code/powers/tremere/auspex.dm
Labels: Balance, Modular

#910 Adds large beds with extra leg room (fits one person)
  fulp_modules/Z_edits/erp_removal/double_beds.dm
Labels: Modular

#915 ventrue buff
  fulp_modules/features/antagonists/bloodsuckers/code/structures/bloodsucker_coffin.dm
Labels: Balance, Modular

#913 Helio Sci Rework
  _maps/map_files/Heliostation/Heliostation.dmm
  fulp_modules/features/mob_spawners/code/mobspawner.dm
  fulp_modules/features/mob_spawners/icons/landmark_static.dmi
  fulp_modules/mapping/icons/research.dmi
  fulp_modules/mapping/station_objects/fluff.dm
  tgstation.dme
Labels: Map Edit, Balance, Modular

#921 Rabbits are now basic animals
  code/modules/unit_tests/simple_animal_freeze.dm
  fulp_modules/features/antagonists/monster_hunter/killer_rabbit.dm
  fulp_modules/features/antagonists/monster_hunter/rabbit_effect.dm
  fulp_modules/features/antagonists/monster_hunter/rabbit_powers.dm
  fulp_modules/features/antagonists/monster_hunter/red_rabbit.dm
  fulp_modules/features/antagonists/monster_hunter/wonderland_apocalypse.dm
  tgstation.dme
Labels: Merge Conflict
