Repository fulpstation/fulpstation, pull requests merged in 2023-01, with the labels that each got.

#857 The engineering rework that isn't Ray's (the better one)
  _maps/map_files/SeleneStation/SeleneStation.dmm
Labels: Feature, Map Edit, Modular

#877 fix beef station walls
  fulp_modules/mapping/ruins/space/beef_station.dmm
Labels: Map Edit, Fix, Modular

#878 Adds Coffee to Heliostation
  _maps/heliostation.json
  _maps/map_files/Heliostation/Heliostation.dmm
Labels: Feature, Map Edit, Modular

#884 Bloodsucker update: Balance and QoLs
  fulp_modules/Z_edits/job_edits.dm
  fulp_modules/_defines/bloodsuckers.dm
  fulp_modules/_defines/fulp_helpers.dm
  fulp_modules/features/antagonists/bloodsuckers/code/antagonists/bloodsucker/bloodsucker_datum.dm
  fulp_modules/features/antagonists/bloodsuckers/code/antagonists/vassal/vassal_datum.dm
  fulp_modules/features/antagonists/bloodsuckers/code/bloodsucker/bloodsucker_coffin.dm
  fulp_modules/features/antagonists/bloodsuckers/code/bloodsucker/bloodsucker_crypt.dm
  fulp_modules/features/antagonists/bloodsuckers/code/bloodsucker/bloodsucker_frenzy.dm
  fulp_modules/features/antagonists/bloodsuckers/code/bloodsucker/bloodsucker_guardian.dm
  fulp_modules/features/antagonists/bloodsuckers/code/bloodsucker/bloodsucker_hud.dm
  fulp_modules/features/antagonists/bloodsuckers/code/bloodsucker/bloodsucker_integration.dm
  fulp_modules/features/antagonists/bloodsuckers/code/bloodsucker/bloodsucker_life.dm
  fulp_modules/features/antagonists/bloodsuckers/code/bloodsucker/bloodsucker_moodlets.dm
  fulp_modules/features/antagonists/bloodsuckers/code/bloodsucker/bloodsucker_name.dm
  fulp_modules/features/antagonists/bloodsuckers/code/bloodsucker/bloodsucker_objectives.dm
  fulp_modules/features/antagonists/bloodsuckers/code/bloodsucker/bloodsucker_objects.dm
  fulp_modules/features/antagonists/bloodsuckers/code/bloodsucker/bloodsucker_procs.dm
  fulp_modules/features/antagonists/bloodsuckers/code/bloodsucker/bloodsucker_recipes.dm
  fulp_modules/features/antagonists/bloodsuckers/code/bloodsucker/bloodsucker_sol.dm
  fulp_modules/features/antagonists/bloodsuckers/code/bloodsucker/subsystem_sunlight.dm
  fulp_modules/features/antagonists/bloodsuckers/code/bloodsucker/vampire_team.dm
  fulp_modules/features/antagonists/bloodsuckers/code/powers/feed.dm
  fulp_modules/features/antagonists/bloodsuckers/code/powers/gohome.dm
  fulp_modules/features/antagonists/bloodsuckers/code/vassal/batform.dm
  fulp_modules/features/antagonists/bloodsuckers/code/vassal/ex_vassal.dm
  fulp_modules/features/antagonists/bloodsuckers/code/vassal/types/favorite_vassal.dm
  fulp_modules/features/antagonists/bloodsuckers/code/vassal/types/revenge_vassal.dm
  fulp_modules/features/antagonists/bloodsuckers/code/vassal/vassal_datum.dm
  fulp_modules/features/antagonists/bloodsuckers/code/vassal/vassal_pinpointer.dm
  fulp_modules/features/antagonists/bloodsuckers/code/vassal/vassal_procs.dm
  tgstation.dme
Labels: Quality of Life, Balance, Modular, Code Improvement

#886 cherry tree add part 3
  _maps/map_files/SeleneStation/SeleneStation.dmm
  fulp_modules/mapping/icons/cherry.dmi
  fulp_modules/mapping/station_objects/trees.dm
  tgstation.dme
Labels: Map Edit, Sprites, Modular

#874 Monsterhunter rework
  code/modules/unit_tests/screenshots/screenshot_antag_icons_monsterhunter.png
  code/modules/unit_tests/simple_animal_freeze.dm
  fulp_modules/_defines/fulp_defines.dm
  fulp_modules/features/antagonists/bloodsuckers/code/monster_hunter/hunterfu.dm
  fulp_modules/features/antagonists/bloodsuckers/code/powers/fortitude.dm
  fulp_modules/features/antagonists/bloodsuckers/code/powers/monstertrack.dm
  fulp_modules/features/antagonists/bloodsuckers/code/rulesets/monsterhunter_event.dm
  fulp_modules/features/antagonists/infiltrators/icons/mooncry.dmi
  fulp_modules/features/antagonists/monster_hunter/hunting_contract.dm
  fulp_modules/features/antagonists/monster_hunter/icons/rabbit.dmi
  fulp_modules/features/antagonists/monster_hunter/icons/red_rabbit.dmi
  fulp_modules/features/antagonists/monster_hunter/icons/weapons.dmi
  fulp_modules/features/antagonists/monster_hunter/icons/weapons_lefthand.dmi
  fulp_modules/features/antagonists/monster_hunter/icons/weapons_righthand.dmi
  fulp_modules/features/antagonists/monster_hunter/icons/worn_mask.dmi
  fulp_modules/features/antagonists/monster_hunter/monsterhunter_abilities.dm
  fulp_modules/features/antagonists/monster_hunter/monsterhunter_datum.dm
  fulp_modules/features/antagonists/monster_hunter/monsterhunter_weapons.dm
  fulp_modules/features/antagonists/monster_hunter/red_rabbit.dm
  fulp_modules/features/antagonists/monster_hunter/sounds/beastification.ogg
  fulp_modules/features/antagonists/monster_hunter/sounds/jackinthebomb.ogg
  fulp_modules/features/antagonists/monster_hunter/sounds/monsterhunterintro.ogg
  fulp_modules/features/antagonists/monster_hunter/sounds/moonlightsword.ogg
  fulp_modules/features/antagonists/monster_hunter/sounds/paradoxskip.ogg
  fulp_modules/features/antagonists/monster_hunter/sounds/rabbitlocator.ogg
  fulp_modules/features/antagonists/monster_hunter/sounds/wonderlandmusic.ogg
  fulp_modules/features/antagonists/monster_hunter/white_rabbit.dm
  fulp_modules/features/antagonists/monster_hunter/wonderland.dm
  fulp_modules/features/antagonists/monster_hunter/wonderland_apocalypse.dm
  fulp_modules/mapping/areas/areas.dm
  fulp_modules/mapping/custom/wonderland.dmm
  tgstation.dme
  tgui/packages/fulpui-patches/interfaces/HunterContract.js
Labels: Feature, Balance, Modular, RED LABEL
