Repository fulpstation/fulpstation, pull requests merged in 2023-05, with the labels that each got.

#977 GET BEEFY GET BLOODY
  fulp_modules/features/species/beefmen/mob/beefman.dm
Labels: Balance, Modular

#978 Fixes some Bloodsucker issues
  fulp_modules/features/antagonists/bloodsuckers/code/bloodsucker/bloodsucker_conversion.dm
  fulp_modules/features/antagonists/bloodsuckers/code/bloodsucker/bloodsucker_procs.dm
  fulp_modules/features/antagonists/bloodsuckers/code/bloodsucker/bloodsucker_sol.dm
  fulp_modules/features/antagonists/bloodsuckers/code/clans/clan_ventrue.dm
  fulp_modules/features/antagonists/bloodsuckers/code/powers/gohome.dm
  fulp_modules/features/antagonists/bloodsuckers/code/structures/bloodsucker_crypt.dm
  fulp_modules/features/antagonists/bloodsuckers/code/vassal/types/revenge_vassal.dm
  fulp_modules/features/antagonists/bloodsuckers/code/vassal/vassal_datum.dm
Labels: Fix, Modular

#979 removes some deadcode and unecessary sound files from monsterhunter, and adds support for z levels when rabbit tracking
  fulp_modules/features/antagonists/monster_hunter/monsterhunter_datum.dm
  fulp_modules/features/antagonists/monster_hunter/monsterhunter_weapons.dm
  fulp_modules/features/antagonists/monster_hunter/sounds/beastification.ogg
  fulp_modules/features/antagonists/monster_hunter/wonderland.dm
Labels: Modular, Code Improvement

#982 fixes selenestation.dmm
  _maps/map_files/SeleneStation/SeleneStation.dmm
Labels: Map Edit, Modular

#984 Adds HoochMaster Pubbystation's Bar
  _maps/map_files/PubbyStation/PubbyStation.dmm
Labels: Map Edit, Modular

#980 Vassals release on Bloodsucker dusting, Plasmamen can be Bloodsucker
  fulp_modules/_defines/bloodsuckers.dm
  fulp_modules/features/antagonists/bloodsuckers/code/bloodsucker/bloodsucker_conversion.dm
  fulp_modules/features/antagonists/bloodsuckers/code/bloodsucker/bloodsucker_datum.dm
  fulp_modules/features/antagonists/bloodsuckers/code/bloodsucker/bloodsucker_flaws.dm
  fulp_modules/features/antagonists/bloodsuckers/code/bloodsucker/bloodsucker_life.dm
  fulp_modules/features/antagonists/bloodsuckers/code/bloodsucker/bloodsucker_objectives.dm
  fulp_modules/features/antagonists/bloodsuckers/code/bloodsucker/bloodsucker_procs.dm
  fulp_modules/features/antagonists/bloodsuckers/code/bloodsucker/bloodsucker_sol.dm
  fulp_modules/features/antagonists/bloodsuckers/code/bloodsucker/shaded_bloodsucker.dm
  fulp_modules/features/antagonists/bloodsuckers/code/clans/_clan.dm
  fulp_modules/features/antagonists/bloodsuckers/code/clans/clan_flavortext.dm
  fulp_modules/features/antagonists/bloodsuckers/code/clans/clan_malkavian.dm
  fulp_modules/features/antagonists/bloodsuckers/code/clans/clan_nosferatu.dm
  fulp_modules/features/antagonists/bloodsuckers/code/clans/clan_tremere.dm
  fulp_modules/features/antagonists/bloodsuckers/code/clans/clan_ventrue.dm
  fulp_modules/features/antagonists/bloodsuckers/code/powers/_powers.dm
  fulp_modules/features/antagonists/bloodsuckers/code/powers/feed.dm
  fulp_modules/features/antagonists/bloodsuckers/code/powers/vassal/recuperate.dm
  fulp_modules/features/antagonists/bloodsuckers/code/structures/bloodsucker_crypt.dm
  fulp_modules/features/antagonists/bloodsuckers/code/structures/bloodsucker_objects.dm
  fulp_modules/features/antagonists/bloodsuckers/code/vassal/types/favorite_vassal.dm
  fulp_modules/features/antagonists/bloodsuckers/code/vassal/types/revenge_vassal.dm
  tgui/packages/fulpui-patches/AntagInfoBloodsucker.tsx
Labels: Fix, Balance, Modular, Code Improvement

#981 Adds a new mini megafauna
  fulp_modules/features/antagonists/monster_hunter/hunting_contract.dm
  fulp_modules/features/antagonists/monster_hunter/monsterhunter_datum.dm
  fulp_modules/features/exclusive_fauna/exiled_king_basic.dm
  fulp_modules/features/exclusive_fauna/icons/64x64.dmi
  fulp_modules/features/exclusive_fauna/icons/96x96.dmi
  fulp_modules/features/exclusive_fauna/icons/effect.dmi
  fulp_modules/features/exclusive_fauna/icons/effect_track.dmi
  fulp_modules/features/exclusive_fauna/icons/item_loot.dmi
  fulp_modules/features/exclusive_fauna/icons/item_loot_worn.dmi
  fulp_modules/features/exclusive_fauna/icons/rewards.dmi
  fulp_modules/mapping/ruins/lavaland/exiled_land.dmm
  fulp_modules/mapping/ruins/lavaland/exiled_ruins/exiled_ruins.dm
  tgstation.dme
  tgui/packages/fulpui-patches/HunterContract.js
Labels: Feature, Modular

#983 makes bloodsucker actions into cooldown actions
  fulp_modules/features/antagonists/bloodsuckers/code/assets/bloodsucker_assets.dm
  fulp_modules/features/antagonists/bloodsuckers/code/bloodsucker/bloodsucker_datum.dm
  fulp_modules/features/antagonists/bloodsuckers/code/bloodsucker/bloodsucker_objectives.dm
  fulp_modules/features/antagonists/bloodsuckers/code/bloodsucker/bloodsucker_procs.dm
  fulp_modules/features/antagonists/bloodsuckers/code/bloodsucker/bloodsucker_sol.dm
  fulp_modules/features/antagonists/bloodsuckers/code/clans/_clan.dm
  fulp_modules/features/antagonists/bloodsuckers/code/clans/clan_nosferatu.dm
  fulp_modules/features/antagonists/bloodsuckers/code/clans/clan_tremere.dm
  fulp_modules/features/antagonists/bloodsuckers/code/clans/clan_ventrue.dm
  fulp_modules/features/antagonists/bloodsuckers/code/powers/_powers.dm
  fulp_modules/features/antagonists/bloodsuckers/code/powers/cloak.dm
  fulp_modules/features/antagonists/bloodsuckers/code/powers/feed.dm
  fulp_modules/features/antagonists/bloodsuckers/code/powers/fortitude.dm
  fulp_modules/features/antagonists/bloodsuckers/code/powers/gohome.dm
  fulp_modules/features/antagonists/bloodsuckers/code/powers/masquerade.dm
  fulp_modules/features/antagonists/bloodsuckers/code/powers/targeted/_powers_targeted.dm
  fulp_modules/features/antagonists/bloodsuckers/code/powers/targeted/brawn.dm
  fulp_modules/features/antagonists/bloodsuckers/code/powers/targeted/haste.dm
  fulp_modules/features/antagonists/bloodsuckers/code/powers/targeted/lunge.dm
  fulp_modules/features/antagonists/bloodsuckers/code/powers/targeted/mesmerize.dm
  fulp_modules/features/antagonists/bloodsuckers/code/powers/targeted/trespass.dm
  fulp_modules/features/antagonists/bloodsuckers/code/powers/tremere/_powers_tremere.dm
  fulp_modules/features/antagonists/bloodsuckers/code/powers/tremere/auspex.dm
  fulp_modules/features/antagonists/bloodsuckers/code/powers/tremere/dominate.dm
  fulp_modules/features/antagonists/bloodsuckers/code/powers/tremere/thaumaturgy.dm
  fulp_modules/features/antagonists/bloodsuckers/code/powers/vassal/distress.dm
  fulp_modules/features/antagonists/bloodsuckers/code/powers/vassal/recuperate.dm
  fulp_modules/features/antagonists/bloodsuckers/code/powers/vassal/vassal_fold.dm
  fulp_modules/features/antagonists/bloodsuckers/code/powers/veil.dm
  fulp_modules/features/antagonists/bloodsuckers/code/vassal/types/revenge_vassal.dm
  fulp_modules/features/antagonists/bloodsuckers/code/vassal/vassal_datum.dm
  fulp_modules/features/antagonists/bloodsuckers/code/vassal/vassal_procs.dm
  fulp_modules/features/antagonists/monster_hunter/monsterhunter_datum.dm
Labels: Modular, Code Improvement

#987 Allows beefcyto to actually spawn
  fulp_modules/mapping/ruins/icemoon/beef_cytology.dmm
Labels: Map Edit, Fix, Modular

#990 Pubby Bug Fixes
  _maps/map_files/PubbyStation/PubbyStation.dmm
Labels: Map Edit, Fix

#992 Adds categories to our round events
  fulp_modules/features/antagonists/rulesets/infil_ruleset.dm
  fulp_modules/features/events/bruhspace_anomaly.dm
  fulp_modules/features/events/halloween.dm
Labels: Fix, Modular

#988 Heliostation Patch 4 - Engineering Maintenance Revamp; Cargo Disposal Pipe Sanity
  _maps/map_files/Heliostation/Heliostation.dmm
Labels: Map Edit, Modular
