Repository fulpstation/fulpstation, pull requests merged in 2024-08, with the labels that each got.

#1232 Adds Bloodsucker brazier/adjusts candelabrum brightness
  fulp_modules/features/antagonists/bloodsuckers/code/particles/bloodsucker_particles.dm
  fulp_modules/features/antagonists/bloodsuckers/code/structures/bloodsucker_coffin.dm
  fulp_modules/features/antagonists/bloodsuckers/code/structures/bloodsucker_crypt.dm
  fulp_modules/features/antagonists/bloodsuckers/code/structures/bloodsucker_recipes.dm
  fulp_modules/features/antagonists/bloodsuckers/icons/vamp_obj.dmi
  tgstation.dme
Labels: Feature, Fix, Modular

#1236 Bio-Regeneration now heals organic bodyparts
  fulp_modules/features/nanites/code/programs/healing.dm
Labels: Fix, Modular

#1235 Monster Hunter mass bug/balance fixes
  fulp_modules/_maps/wonderland.dmm
  fulp_modules/features/antagonists/monster_hunter/hunting_contract.dm
  fulp_modules/features/antagonists/monster_hunter/monsterhunter_datum.dm
  fulp_modules/features/antagonists/monster_hunter/monsterhunter_weapons.dm
  fulp_modules/features/antagonists/monster_hunter/wonderland.dm
  fulp_modules/features/antagonists/monster_hunter/wonderland_apocalypse.dm
Labels: Fix, Balance, Modular

#1240 Partial Theia disposals fix
  _maps/map_files/TheiaStation/TheiaStation.dmm
Labels: Map Edit, Fix

#1238 Adds Theia Station Emergency Shuttle (and retroactively fixes braziers which apparently broke with the last TGU)
  _maps/shuttles/emergency_theia.dmm
  _maps/theiastation.json
  fulp_modules/mapping/shuttles/map_templates.dm
  fulp_modules/mapping/station_objects/trees.dm
  fulp_modules/tg_edits.md
Labels: Feature, Map Edit, Modular

#1242 Theia Tcomms fix + other fixes
  _maps/map_files/TheiaStation/TheiaStation.dmm
Labels: Map Edit, Fix

#1243 Pubby Station Exterior/Space Detailing (again!)
  _maps/map_files/PubbyStation/PubbyStation.dmm
Labels: Map Edit
