Repository fulpstation/fulpstation, pull requests merged in 2024-10, with the labels that each got.

#1246 Adds "Cateors" and Cateor Events
  fulp_modules/_defines/fulp_defines.dm
  fulp_modules/features/events/cateors/alert_level_deltaww.dm
  fulp_modules/features/events/cateors/cateor.dm
  fulp_modules/features/events/cateors/cateor_storm.dm
  fulp_modules/features/events/cateors/stray_cateor.dm
  fulp_modules/features/events/icons/event_icons.dmi
  fulp_modules/features/spells/Icons/Inhands/fulp_spells_lefthand.dmi
  fulp_modules/features/spells/Icons/Inhands/fulp_spells_righthand.dmi
  fulp_modules/features/spells/Icons/fulp_spell_icons.dmi
  fulp_modules/features/spells/Icons/hud/fulp_spell_screen_full.dmi
  fulp_modules/features/spells/_spells.dm
  fulp_modules/features/spells/fulp_spellbook.dm
  fulp_modules/sounds/attributions.txt
  fulp_modules/sounds/effects/anime_wow.ogg
  fulp_modules/sounds/effects/ow-awuh.ogg
  fulp_modules/sounds/misc/cat_raid_siren.ogg
  tgstation.dme
Labels: Feature, Sprites

#1252 Additional Theia fixes following recent improvements
  _maps/map_files/TheiaStation/TheiaStation.dmm
Labels: Map Edit, Fix

#1237 Automatic TGS DMAPI Update
  code/__DEFINES/tgs.dm
  code/modules/tgs/core/README.md
  code/modules/tgs/core/byond_world_export.dm
  code/modules/tgs/core/core.dm
  code/modules/tgs/core/datum.dm
  code/modules/tgs/includes.dm
  code/modules/tgs/v5/__interop_version.dm
  code/modules/tgs/v5/_defines.dm
  code/modules/tgs/v5/api.dm
  code/modules/tgs/v5/bridge.dm
  code/modules/tgs/v5/topic.dm
  code/modules/tgs/v5/undefs.dm
Labels: Tools

#1250 Adds more escape pods to Pubby Station
  _maps/map_files/PubbyStation/PubbyStation.dmm
Labels: Map Edit

#1253 Theia south maint rework
  _maps/map_files/TheiaStation/TheiaStation.dmm
  fulp_modules/mapping/areas/areas.dm
Labels: Map Edit

#1254 Adds Bloodsucker blood mirrors
  fulp_modules/features/antagonists/bloodsuckers/code/bloodsucker/bloodsucker_datum.dm
  fulp_modules/features/antagonists/bloodsuckers/code/bloodsucker/bloodsucker_moodlets.dm
  fulp_modules/features/antagonists/bloodsuckers/code/powers/masquerade.dm
  fulp_modules/features/antagonists/bloodsuckers/code/structures/bloodsucker_coffin.dm
  fulp_modules/features/antagonists/bloodsuckers/code/structures/bloodsucker_crypt.dm
  fulp_modules/features/antagonists/bloodsuckers/code/structures/bloodsucker_recipes.dm
  fulp_modules/features/antagonists/bloodsuckers/icons/vamp_obj.dmi
Labels: Feature, Modular

#1255 Heliostation vault edits
  _maps/map_files/Heliostation/Heliostation.dmm
Labels: Map Edit

#1256 Summon Dancefloor spell improvements
  fulp_modules/features/spells/_spells.dm
  fulp_modules/sounds/effects/summon_dance_floor/title0_shortened.ogg
  fulp_modules/sounds/effects/summon_dance_floor/title2_shortened.ogg
  fulp_modules/sounds/effects/summon_dance_floor/title3_shortened.ogg
Labels: Feature

#1257 Monster hunter status effect detailing
  fulp_modules/features/antagonists/monster_hunter/icons/status_effects.dmi
  fulp_modules/features/antagonists/monster_hunter/monsterhunter_weapons.dm
  fulp_modules/features/antagonists/monster_hunter/wonderland.dm
Labels: Sprites, Balance, Modular

#1263 Theia central maint, lawyer & courtroom rework
  _maps/map_files/TheiaStation/TheiaStation.dmm
  fulp_modules/mapping/areas/areas.dm
Labels: Map Edit
