Repository fulpstation/fulpstation, pull requests merged in 2024-01, with the labels that each got.

#1082 FIXES Heliostation power
  _maps/map_files/Heliostation/Heliostation.dmm
Labels: Map Edit, Fix

#1088 Connects the AI Satellite on SeleneStation to the grid
  _maps/map_files/SeleneStation/SeleneStation.dmm
Labels: Map Edit, Fix

#1089 Handful of Bloodsucker fixes
  fulp_modules/_defines/bloodsuckers.dm
  fulp_modules/features/antagonists/bloodsuckers/code/bloodsucker/bloodsucker_moodlets.dm
  fulp_modules/features/antagonists/bloodsuckers/code/clans/clan_vassal.dm
  fulp_modules/features/antagonists/bloodsuckers/code/clans/clan_ventrue.dm
  fulp_modules/features/antagonists/bloodsuckers/code/powers/_powers.dm
  fulp_modules/features/antagonists/bloodsuckers/code/powers/veil.dm
  fulp_modules/features/antagonists/bloodsuckers/code/structures/bloodsucker_coffin.dm
  fulp_modules/features/antagonists/bloodsuckers/code/structures/bloodsucker_crypt.dm
  fulp_modules/features/antagonists/bloodsuckers/code/vassal/types/favorite_vassal.dm
  tgstation.dme
Labels: Fix, Modular

#1090 Re-adds my pubby changes
  _maps/map_files/PubbyStation/PubbyStation.dmm
Labels: Map Edit, Fix

#1091 Fixes the mentor panel I think
  fulp_modules/_defines/fulp_defines.dm
  fulp_modules/features/mentors/mentor_clientprocs.dm
  fulp_modules/features/mentors/mentor_manager.dm
Labels: Fix, Modular

#1092 Frenzy exit amount now respects humanity level
  fulp_modules/_defines/bloodsuckers.dm
  fulp_modules/features/antagonists/bloodsuckers/code/bloodsucker/bloodsucker_datum.dm
  fulp_modules/features/antagonists/bloodsuckers/code/bloodsucker/bloodsucker_life.dm
Labels: Balance, Modular

#1093 Fulpstation specific maps syndicate docking ports addition.
  _maps/map_files/Heliostation/Heliostation.dmm
  _maps/map_files/PubbyStation/PubbyStation.dmm
  _maps/map_files/SeleneStation/SeleneStation.dmm
Labels: Map Edit, Fix
