Repository fulpstation/fulpstation, pull requests merged in 2024-06, with the labels that each got.

#1208 updates protogen descriptions
  fulp_modules/features/species/protogen/protogen.dm
Labels: Modular, Grammar/Spelling

#1209 Cleans up blood sucker descriptions
  fulp_modules/features/antagonists/bloodsuckers/code/bloodsucker/bloodsucker_datum.dm
  fulp_modules/features/antagonists/bloodsuckers/code/bloodsucker/bloodsucker_flaws.dm
  fulp_modules/features/antagonists/bloodsuckers/code/bloodsucker/bloodsucker_frenzy.dm
  fulp_modules/features/antagonists/bloodsuckers/code/bloodsucker/bloodsucker_guardian.dm
  fulp_modules/features/antagonists/bloodsuckers/code/bloodsucker/bloodsucker_life.dm
  fulp_modules/features/antagonists/bloodsuckers/code/bloodsucker/subsystem_sunlight.dm
Labels: Fix, Modular, Grammar/Spelling

#1210 Fixes Pubby Station's Bathroom
  _maps/map_files/PubbyStation/PubbyStation.dmm
Labels: Map Edit, Fix, Modular

#1213 Fixes SMES and some buffs
  _maps/map_files/Heliostation/Heliostation.dmm
  _maps/map_files/PubbyStation/PubbyStation.dmm
  _maps/map_files/SeleneStation/SeleneStation.dmm
  _maps/map_files/TheiaStation/TheiaStation.dmm
Labels: Map Edit, Fix

#1215 Fixes the tiling under some of Theia's airlocks/Adds a singular cable
  _maps/map_files/TheiaStation/TheiaStation.dmm
Labels: Feature, Map Edit, Fix

#1222 Theia ordnance O2 tank fix
  _maps/map_files/TheiaStation/TheiaStation.dmm
Labels: Map Edit, Fix

#1223 Gives Heliostation's ordnance testing lab an ordnance data disk
  _maps/map_files/Heliostation/Heliostation.dmm
Labels: Map Edit, Fix

#1220 Pubby transit tube edits
  _maps/map_files/PubbyStation/PubbyStation.dmm
Labels: Feature, Map Edit

#1225 Fixes the name of a singular pump
  _maps/map_files/Heliostation/Heliostation.dmm
Labels: Map Edit, Fix, Grammar/Spelling

#1226 Theia Station chapel mass driver fix
  _maps/map_files/TheiaStation/TheiaStation.dmm
Labels: Feature, Map Edit, Fix
