Repository fulpstation/fulpstation, pull requests merged in 2024-03, with the labels that each got.

#1126 Automatic TGS DMAPI Update
  code/__DEFINES/tgs.dm
  code/modules/tgs/v5/api.dm
  code/modules/tgs/v5/topic.dm
Labels: Tools

#1135 Nanite fix1
  fulp_modules/features/nanites/code/programs/utility.dm
Labels: Fix, Modular

#1146 Heliostation minor changes and additions
  _maps/map_files/Heliostation/Heliostation.dmm
Labels: Map Edit

#1165 Minor Helios disposal Fix
  _maps/map_files/Heliostation/Heliostation.dmm
Labels: Map Edit

#1166 Only Albino Gorillia has magic gorilla powers
  fulp_modules/features/antagonists/infiltrators/albino_gorilla.dm
Labels: Fix

#1167 gives nobraindamage felinids a name
  fulp_modules/Z_edits/felinid_edit.dm
Labels: Code Improvement

#1168 Removes old nanite relics from the game
  _maps/map_files/Heliostation/Heliostation.dmm
  fulp_modules/mapping/icons/research.dmi
  fulp_modules/mapping/station_objects/fluff.dm
  tgstation.dme
Labels: Map Edit

#1156 Adds a second fulp Deathmatch arena
  fulp_modules/mapping/deathmatch/code/deathmatch_loadouts.dm
  fulp_modules/mapping/deathmatch/code/deathmatch_maps.dm
  fulp_modules/mapping/deathmatch/maps/heliocentric.dmm
Labels: map

#1169 removes helio's layer 1 cables in sm chamber
  _maps/map_files/Heliostation/Heliostation.dmm
Labels: Map Edit

#1170 Big Map Refector
  fulp_modules/_maps/RandomRuins/IceRuins/beef_cytology.dmm
  fulp_modules/_maps/RandomRuins/LavaRuins/exiled_land.dmm
  fulp_modules/_maps/RandomRuins/SpaceRuins/beef_station.dmm
  fulp_modules/_maps/RandomRuins/SpaceRuins/syndicate_engineer.dmm
  fulp_modules/_maps/deathmatch/pandamonium.dmm
  fulp_modules/_maps/wonderland.dmm
  fulp_modules/features/antagonists/monster_hunter/wonderland.dm
  fulp_modules/mapping/deathmatch/code/deathmatch_maps.dm
  fulp_modules/mapping/ruins/code.dm
Labels: Code Improvement

#1164 Deathmatch : Final Destination
  fulp_modules/_maps/deathmatch/dm_finaldestination.dmm
  fulp_modules/_maps/deathmatch/heliocentric.dmm
  fulp_modules/mapping/deathmatch/code/deathmatch_loadouts.dm
  fulp_modules/mapping/deathmatch/code/deathmatch_maps.dm
Labels: map

#1174 removes unused signals
  fulp_modules/_signals/misc.dm
Labels: Modular, Code Improvement

#1175 Fr Fixes Prisoner accounts
  fulp_modules/_defines/fulp_defines.dm
  fulp_modules/features/prison/prison_vendor.dm
  fulp_modules/features/prison/prisoner.dm
Labels: Modular, Code Improvement

#1157 Selene Medbay Rework
  _maps/map_files/SeleneStation/SeleneStation.dmm
Labels: Map Edit

#1172 Deathmatch but in an Industrial Park
  fulp_modules/_maps/deathmatch/Industrial.dmm
  fulp_modules/mapping/deathmatch/code/deathmatch_loadouts.dm
  fulp_modules/mapping/deathmatch/code/deathmatch_maps.dm
Labels: map

#1179 Selene Engineering tweaks and atmos remaster
  _maps/map_files/SeleneStation/SeleneStation.dmm
Labels: Map Edit

#1182 Automatic TGS DMAPI Update
  code/__DEFINES/tgs.dm
  code/modules/tgs/LICENSE
  code/modules/tgs/core/datum.dm
  code/modules/tgs/core/tgs_version.dm
Labels: Tools

#1185 Selene maintance
  _maps/map_files/SeleneStation/SeleneStation.dmm
  _maps/shuttles/arrival_selene.dmm
Labels: Map Edit
