Repository fulpstation/fulpstation, pull requests merged in 2025-04, with the labels that each got.

#1355 Small Map Fix for a Monkey Pen on Selene Station
  _maps/map_files/SeleneStation/SeleneStation.dmm
Labels: Map Edit

#1394 Adds Telecomms Flaps to Every Fulpstation Map
  _maps/map_files/Heliostation/Heliostation.dmm
  _maps/map_files/PubbyStation/PubbyStation.dmm
  _maps/map_files/SeleneStation/SeleneStation.dmm
  _maps/map_files/TheiaStation/TheiaStation.dmm
Labels: Map Edit

#1373 Minor Wall/Floor Decal Corrections and Miscellaneous Map Fixes
  _maps/fulp_maps/RandomRuins/SpaceRuins/allamericandiner_openforbusiness.dmm
  _maps/fulp_maps/RandomRuins/SpaceRuins/beef_station.dmm
  _maps/map_files/Heliostation/Heliostation.dmm
  _maps/map_files/PubbyStation/PubbyStation.dmm
  _maps/map_files/TheiaStation/TheiaStation.dmm
Labels: Map Edit

#1376 Selene Station Mapping Verb Sweep
  _maps/map_files/SeleneStation/SeleneStation.dmm
Labels: Map Edit

#1384 Adds More Action Figures and Unique Crates to All Fulp Maps
  _maps/map_files/Heliostation/Heliostation.dmm
  _maps/map_files/PubbyStation/PubbyStation.dmm
  _maps/map_files/SeleneStation/SeleneStation.dmm
  _maps/map_files/TheiaStation/TheiaStation.dmm
Labels: Map Edit

#1378 Adds Fishing Trophy Mounts to All Fulpstation Maps
  _maps/map_files/Heliostation/Heliostation.dmm
  _maps/map_files/PubbyStation/PubbyStation.dmm
  _maps/map_files/SeleneStation/SeleneStation.dmm
  _maps/map_files/TheiaStation/TheiaStation.dmm
Labels: Map Edit

#1381 Camera Corrections for All Maps
  _maps/map_files/Heliostation/Heliostation.dmm
  _maps/map_files/PubbyStation/PubbyStation.dmm
  _maps/map_files/SeleneStation/SeleneStation.dmm
  _maps/map_files/TheiaStation/TheiaStation.dmm
Labels: Map Edit

#1389 Adds Captain Casters to Every Fulpstation Map
  _maps/map_files/Heliostation/Heliostation.dmm
  _maps/map_files/PubbyStation/PubbyStation.dmm
  _maps/map_files/SeleneStation/SeleneStation.dmm
  _maps/map_files/TheiaStation/TheiaStation.dmm
Labels: Map Edit

#1403 Better Communicates Bloodsucker Power Leveling
  fulp_modules/features/antagonists/bloodsuckers/code/bloodsucker/bloodsucker_procs.dm
  fulp_modules/features/antagonists/bloodsuckers/code/powers/_powers.dm
  fulp_modules/features/antagonists/bloodsuckers/code/powers/gohome.dm
  fulp_modules/features/antagonists/bloodsuckers/code/powers/masquerade.dm
  fulp_modules/features/antagonists/bloodsuckers/code/powers/tremere/_powers_tremere.dm
  fulp_modules/features/antagonists/bloodsuckers/code/powers/vassal/distress.dm
  fulp_modules/features/antagonists/bloodsuckers/code/powers/vassal/recuperate.dm
  fulp_modules/features/antagonists/bloodsuckers/code/powers/vassal/vassal_fold.dm
  fulp_modules/features/antagonists/bloodsuckers/code/powers/veil.dm
Labels: Quality of Life

#1407 Changes and fixes to Selene's Engineering
  _maps/map_files/SeleneStation/SeleneStation.dmm
Labels: Map Edit

#1405 Fixes a Couple of Client Colours Being Permanent
  fulp_modules/features/antagonists/bloodsuckers/code/bloodsucker/bloodsucker_frenzy.dm
  fulp_modules/features/antagonists/bloodsuckers/code/structures/bloodsucker_mirror.dm
Labels: Fix
