Repository fulpstation/fulpstation, pull requests merged in 2025-02, with the labels that each got.

#1356 Spooky ghost chefs (*scream)
  _maps/fulp_maps/RandomRuins/SpaceRuins/allamericandiner_openforbusiness.dmm
  code/__DEFINES/fulp_defines/fulp_defines.dm
  fulp_modules/mapping/areas/areas.dm
  fulp_modules/mapping/ruins/space/ghost_diner/ghost_diner.dm
  tgstation.dme
Labels: Stale, Feature, Map Edit, Modular, DO NOT MERGE, map

#1327 fixes a hard delete in infiltrator objectives
  fulp_modules/features/antagonists/infiltrators/infil_objectives.dm
Labels: Fix

#1336 Summon Dancefloor Bug Fixes 2
  fulp_modules/features/spells/_spells.dm
Labels: Fix

#1344 Minor Pubby Cargo Fixes Following Recent Improvements
  _maps/map_files/PubbyStation/PubbyStation.dmm
  _maps/shuttles/cargo_pubby.dmm
Labels: Map Edit, Fix
